# Exploration & Wrangling Data of the Crimes in Chicago Dataset 
* The data is extracted from: https://www.kaggle.com/currie32/crimes-in-chicago/data

###### Outline of Entire Process: 
* Import 4 Datasets
* Analyze Missing Data
* Combine Four Datasets into One
* Conversion of Time Data
* Exploring Null Values in Year 2001 'Ward'  
* Exploration of Unique Labels: 
    * (1) The Unique Labels for each Column 
    * (2) Printing Out the Number of Unique Labels Per Column 
* Dropping Columns 
* Export DfTotal 
* Unnest Location Data: Readding Latitude and Longitude 
* Export and Import the New Cleaned Dataset With Latitude and Longitude Information
* Using the District Data to fill in the Missing Longitude and Latitude Data 
    * Part I: Filling in NaN Data of Longitude and Latitude Observations that have District info in Observation 
    * Part II: Filling in Districts with Missing Values, but nonempty longitude/latitude data
* Filling in Missing Location Description Values
* Export New Dataset with No Missing Values 

###### Outline of Data Wrangling Process: 
*  Combine Four Datasets into One: Chicago_Crimes_2001_to_2004.csv, Chicago_Crimes_2005_to_2007.csv, Chicago_Crimes_2008_to_2011.csv, Chicago_Crimes_2012_to_2017.csv
* Conversion of Time Data 
* Dropping Columns 
* Unnest Location Data: Readding Latitude and Longitude 
* Using the District Data to fill in the Missing Longitude and Latitude Data
* Filling in Missing Location Description Values
    * Part I: Filling in NaN Data of Longitude and Latitude Observations that have District info in Observation 
    * Part II: Filling in Districts with Missing Values, but nonempty longitude/latitude data

##### Outline of Data Exploration Process: 
* Analyze Missing Data 
* Exploring Null Values in Year 2001 'Ward'  
* Exploration of Unique Labels: 
    * (1) The Unique Labels for each Column 
    * (2) Printing Out the Number of Unique Labels Per Column

## Importing Basic Packages 
These packages help us rearrange our data into a dataframe format easily

In [1]:
import numpy as np  
import pandas as pd 
import math

## Import 4 Datasets

In [2]:
df1 = pd.read_csv("../../crimesInChicagoData/Chicago_Crimes_2001_to_2004.csv", error_bad_lines = False)

b'Skipping line 1513591: expected 23 fields, saw 24\n'
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (17,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df2 = pd.read_csv("../../crimesInChicagoData/Chicago_Crimes_2005_to_2007.csv", error_bad_lines = False)

b'Skipping line 533719: expected 23 fields, saw 24\n'

In [4]:
df3 = pd.read_csv("../../crimesInChicagoData/Chicago_Crimes_2008_to_2011.csv", error_bad_lines = False)

b'Skipping line 1149094: expected 23 fields, saw 41\n'

In [9]:
df4 = pd.read_csv("../../crimesInChicagoData/Chicago_Crimes_2012_to_2017.csv", error_bad_lines = False)

## Analyze  Missing Data 
Seeing how much data is missing per column of each of the 4 dataframes to get an understanding of how much missing data we have.

In [10]:
'''Takes in a dataframe and returns a dataframe with percentages of missing data of each column
'''
def missingDataSummary(df):
    dfInitial = pd.DataFrame(index = [df.name], columns =df.columns)
    for column in df.columns:
        #print("Column name: " + column )
        numNas = df[column].isnull().sum()
        numObservations = len(df[column])
        missingDataPercentage = numNas/numObservations *100
        dfInitial[column][0] = missingDataPercentage
        #print(str(missingDataPercentage) + "% missing") 
    return dfInitial

In [11]:
#set the names of the dataframes for convenience 
df1.name = 'df1'
df2.name = 'df2'
df3.name = 'df3'
df4.name = 'df4'

In [12]:
#retrieve info on missing data for each data frame 
df1_missingSummary = missingDataSummary(df1)
df2_missingSummary  = missingDataSummary(df2)
df3_missingSummary = missingDataSummary(df3)
df4_missingSummary = missingDataSummary(df4)

#concatenate missingData summary info into one
df_missingSummaries = pd.concat([df1_missingSummary, df2_missingSummary, df3_missingSummary, df4_missingSummary], axis = 0)

#display all the missing data summary
pd.set_option('display.max_columns', None)
df_missingSummaries

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
df1,0,0,0,0,0,0,0,0,0.000831811,0,0,0,0.000103976,36.3986,36.4046,0,1.59557,1.59557,0,0,1.59557,1.59562,1.59562
df2,0,0,0,0,0,0,0,0,0.00133523,0,0,0,0.000267045,0.000801135,0.0186397,0,0.488906,0.488906,0,0,0.488906,0.488906,0.488906
df3,0,0,0.000223155,0,0,0,0,0,0.010823,0,0,0,0.00308698,0.00234313,0.0541152,0,1.06538,1.06538,0,0,1.06538,1.06538,1.06538
df4,0,0,6.86477e-05,0,0,0,0,0,0.113818,0,0,0,6.86477e-05,0.000961067,0.00274591,0,2.54566,2.54566,0,0,2.54566,2.54566,2.54566

## Combine Four Datasets into One
Concatenate 4 data sets to make one total data set form years range 2001-2017

In [13]:
dfTotal = pd.concat([df1, df2, df3, df4], axis = 0)

Checking if the concatenation indeed happened:

In [14]:
print("Are the number of columns maintained?")
print(len(df1.columns) == len(df2.columns) ==  len(df3.columns) == len(df4.columns) == len(dfTotal.columns))

print("Are the number of observations of all data sets equal to the dfTotal")
print(len(df1['ID']) + len(df2['ID']) + len(df3['ID']) + len(df4['ID']) == len(dfTotal['ID']))

dfTotal.columns

Are the number of columns maintained?
True
Are the number of observations of all data sets equal to the dfTotal
True

Index(['Unnamed: 0', 'ID', 'Case Number', 'Date', 'Block', 'IUCR',
       'Primary Type', 'Description', 'Location Description', 'Arrest',
       'Domestic', 'Beat', 'District', 'Ward', 'Community Area', 'FBI Code',
       'X Coordinate', 'Y Coordinate', 'Year', 'Updated On', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')

In [15]:
dfTotal.head()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,879,4786321,HM399414,01/01/2004 12:01:00 AM,082XX S COLES AVE,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,424,4.0,7.0,46.0,06,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
1,2544,4676906,HM278933,03/01/2003 12:00:00 AM,004XX W 42ND PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,935,9.0,11.0,61.0,26,1173974.0,1.87676e+06,2003.0,04/15/2016 08:55:02 AM,41.8172,-87.637328,"(41.817229156, -87.637328162)"
2,2919,4789749,HM402220,06/20/2004 11:00:00 AM,025XX N KIMBALL AVE,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,1413,14.0,35.0,22.0,20,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
3,2927,4789765,HM402058,12/30/2004 08:00:00 PM,045XX W MONTANA ST,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,2521,25.0,31.0,20.0,06,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
4,3302,4677901,HM275615,05/01/2003 01:00:00 AM,111XX S NORMAL AVE,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,2233,22.0,34.0,49.0,06,1174948.0,1.83105e+06,2003.0,04/15/2016 08:55:02 AM,41.6918,-87.635116,"(41.691784636, -87.635115968)"

## Conversion of Time Data 
* We converted the 'Date' data type to a Time Series for easy sorting in pandas df. This sorting mechanism allows us to explore the data easily. 
* We also converted the format of the time. We got rid of AM & PM designations and made the hours from a 12-hour clock to a 24-hour clock. This was in part so that we could look at the data by hours more easily.

In [16]:
df1.sort_values(by='Year')

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
1602847,3629582,1423259,G139165,03/10/2001 11:30:00 PM,035XX S FEDERAL ST,1340,CRIMINAL DAMAGE,TO STATE SUP PROP,CHA PARKING LOT/GROUNDS,True,False,211,2.0,NaN,NaN,14,1176246.0,18 08:55:02 AM,41.789832,-87.672973835,"(41.789832136, -87.672973835)",NaN,NaN
386628,3926953,1797222,G622842,10/16/2001 04:00:00 PM,042XX N WINCHESTER AV,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE-GARAGE,False,False,1922,19.0,NaN,NaN,14,1162614.0,1.92829e+06,2001.000000,08/17/2015 03:03:40 PM,41.9589,-87.677555,"(41.958876653, -87.677555184)"
379441,3919766,1788231,G603480,10/08/2001 09:15:00 AM,023XX W FLOURNOY ST,2027,NARCOTICS,POSS: CRACK,PARK PROPERTY,True,False,1224,12.0,NaN,NaN,18,1160929.0,1.89704e+06,2001.000000,08/17/2015 03:03:40 PM,41.8732,-87.684619,"(41.873154129, -87.684618984)"
379440,3919765,1788230,G588035,10/01/2001 11:45:00 AM,035XX S FEDERAL ST,2095,NARCOTICS,ATTEMPT POSSESSION NARCOTICS,CHA PARKING LOT/GROUNDS,True,False,211,2.0,NaN,NaN,18,1176254.0,1.88129e+06,2001.000000,08/17/2015 03:03:40 PM,41.8296,-87.628828,"(41.829611625, -87.628828268)"
379439,3919764,1788228,G604692,10/08/2001 07:00:10 PM,003XX W LOCUST ST,2024,NARCOTICS,POSS: HEROIN(WHITE),STREET,True,False,1823,18.0,NaN,NaN,18,1173468.0,1.90657e+06,2001.000000,08/17/2015 03:03:40 PM,41.899,-87.638299,"(41.899038499, -87.638299131)"
379438,3919763,1788227,G608421,10/10/2001 12:44:27 PM,023XX W 111 PL,1130,DECEPTIVE PRACTICE,FRAUD OR CONFIDENCE GAME,RESIDENCE,False,False,2212,22.0,NaN,NaN,11,1162729.0,1.83064e+06,2001.000000,08/17/2015 03:03:40 PM,41.6909,-87.679863,"(41.690919865, -87.679862857)"
379437,3919762,1788225,G607431,10/09/2001 10:20:28 PM,008XX N ST LOUIS AV,0460,BATTERY,SIMPLE,SIDEWALK,False,False,1121,11.0,NaN,NaN,08B,1152942.0,1.90515e+06,2001.000000,08/17/2015 03:03:40 PM,41.8956,-87.713728,"(41.895576192, -87.713728213)"
379436,3919761,1788224,G588034,10/01/2001 11:43:00 AM,035XX S FEDERAL ST,2095,NARCOTICS,ATTEMPT POSSESSION NARCOTICS,CHA PARKING LOT/GROUNDS,True,False,211,2.0,NaN,NaN,18,1176254.0,1.88129e+06,2001.000000,08/17/2015 03:03:40 PM,41.8296,-87.628828,"(41.829611625, -87.628828268)"
379435,3919760,1788222,G608283,10/10/2001 11:41:25 AM,013XX W 111 ST,5002,OTHER OFFENSE,OTHER VEHICLE OFFENSE,STREET,True,False,2234,22.0,NaN,NaN,26,1169568.0,1.83112e+06,2001.000000,08/17/2015 03:03:40 PM,41.6921,-87.654811,"(41.692097453, -87.654810782)"
379434,3919759,1788221,G588513,10/01/2001 02:10:00 PM,046XX S STATE ST,2027,NARCOTICS,POSS: CRACK,VEHICLE NON-COMMERCIAL,True,False,221,2.0,NaN,NaN,18,1177006.0,1.8745e+06,2001.000000,08/17/2015 03:03:40 PM,41.811,-87.626274,"(41.810959587, -87.62627425)"
379433,3919758,1788218,G610767,10/05/2001 07:00:00 AM,006XX W SHERIDAN RD,0820,THEFT,$500 AND UNDER,STREET,False,False,2323,19.0,NaN,NaN,06,1171087.0,1.92623e+06,2001.000000,08/17/2015 03:03:40 PM,41.953,-87.646466,"(41.953047281, -87.646465868)"
379432,3919757,1788217,G603979,10/08/2001 01:30:00 PM,076XX N GREENVIEW AV,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,ALLEY,True,False,2422,24.0,NaN,NaN,18,1165013.0,1.95053e+06,2001.000000,08/17/2015 03:03:40 PM,42.0199,-87.668100,"(42.019850381, -87.668100442)"
379431,3919756,1788216,G610432,10/10/2001 02:00:00 PM,112XX S WALLACE ST,2850,PUBLIC PEACE VIOLATION,BOMB THREAT,"SCHOOL, PUBLIC, BUILDING",True,False,2233,22.0,NaN,NaN,26,1174272.0,1.83037e+06,2001.000000,08/17/2015 03:03:40 PM,41.6899,-87.637611,"(41.689936366, -87.637610961)"
379430,3919755,1788215,G608337,08/24/2001 09:00:00 AM,058XX W WASHINGTON BL,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,APARTMENT,False,False,1513,15.0,NaN,NaN,17,1137501.0,1.90011e+06,2001.000000,08/17/2015 03:03:40 PM,41.8821,-87.770561,"(41.882056984, -87.770561411)"
379429,3919754,1788214,G588033,10/01/2001 10:30:00 AM,035XX S FEDERAL ST,2095,NARCOTICS,ATTEMPT POSSESSION NARCOTICS,CHA PARKING LOT/GROUNDS,True,False,211,2.0,NaN,NaN,18,1176254.0,1.88129e+06,2001.000000,08/17/2015 03:03:40 PM,41.8296,-87.628828,"(41.829611625, -87.628828268)"
379442,3919767,1788234,G609911,10/11/2001 12:15:00 AM,010XX N LECLAIRE AV,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,1531,15.0,NaN,NaN,14,1142136.0,1.90621e+06,2001.000000,08/17/2015 03:03:40 PM,41.8987,-87.753390,"(41.898694985, -87.753390241)"
379428,3919753,1788213,G604683,10/08/2001 06:55:11 PM,009XX N HUDSON AV,2027,NARCOTICS,POSS: CRACK,STREET,True,False,1823,18.0,NaN,NaN,18,1173036.0,1.90686e+06,2001.000000,08/17/2015 03:03:40 PM,41.8999,-87.639877,"(41.899860332, -87.63987705)"
379426,3919751,1788208,G588032,10/01/2001 11:40:00 AM,035XX S FEDERAL ST,2095,NARCOTICS,ATTEMPT POSSESSION NARCOTICS,CHA PARKING LOT/GROUNDS,True,False,211,2.0,NaN,NaN,18,1176254.0,1.88129e+06,2001.000000,08/17/2015 03:03:40 PM,41.8296,-87.628828,"(41.829611625, -87.628828268)"
379425,3919750,1788207,G603942,10/08/2001 01:05:00 PM,011XX N LAWNDALE AV,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,STREET,True,False,1112,11.0,NaN,NaN,18,1151534.0,1.90757e+06,2001.000000,08/17/2015 03:03:40 PM,41.9022,-87.718836,"(41.902247441, -87.718835814)"
379424,3919749,1788205,G588610,10/01/2001 03:00:00 PM,060XX S LOOMIS BL,2250,LIQUOR LAW VIOLATION,LIQUOR LICENSE VIOLATION,GROCERY FOOD STORE,True,False,713,7.0,NaN,NaN,22,1167984.0,1.86493e+06,2001.000000,08/17/2015 03:03:40 PM,41.7849,-87.659641,"(41.784902819, -87.659641137)"
379423,3919748,1788204,G605259,10/08/2001 11:40:00 PM,003XX N CENTRAL AV,1090,ARSON,ATTEMPT ARSON,HOTEL/MOTEL,True,True,1512,15.0,NaN,NaN,09,1138946.0,1.90161e+06,2001.000000,08/17/2015 03:03:40 PM,41.8861,-87.765219,"(41.886141564, -87.765218883)"
379422,3919747,1788203,G604681,10/08/2001 06:04:36 PM,014XX S CHRISTIANA AV,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,STREET,True,False,1021,10.0,NaN,NaN,18,1154220.0,1.89306e+06,2001.000000,08/17/2015 03:03:40 PM,41.8624,-87.709357,"(41.862385538, -87.709357115)"
379421,3919746,1788202,G603023,10/08/2001 12:15:00 AM,002XX N KENNETH AV,0460,BATTERY,SIMPLE,RESIDENCE,False,True,1113,11.0,NaN,NaN,08B,1146652.0,1.90068e+06,2001.000000,08/17/2015 03:03:40 PM,41.8834,-87.736944,"(41.883432336, -87.736944234)"
379420,3919745,1788201,G607810,10/10/2001 06:35:18 AM,087XX S MAY ST,1330,CRIMINAL TRESPASS,TO LAND,APARTMENT,True,False,2222,22.0,NaN,NaN,26,1170140.0,1.84686e+06,2001.000000,08/17/2015 03:03:40 PM,41.7353,-87.652261,"(41.735269781, -87.652260864)"
379419,3919744,1788200,G610801,10/09/2001 06:00:00 PM,009XX W MONTROSE AV,0810,THEFT,OVER $500,STREET,False,False,2313,19.0,NaN,NaN,06,1169433.0,1.92945e+06,2001.000000,08/17/2015 03:03:40 PM,41.9619,-87.652452,"(41.961916543, -87.652452018)"
379418,3919743,1788199,G605412,10/09/2001 03:58:12 AM,088XX S BUFFALO AV,2027,NARCOTICS,POSS: CRACK,STREET,True,False,424,4.0,NaN,NaN,18,1199612.0,1.84719e+06,2001.000000,08/17/2015 03:03:40 PM,41.7355,-87.544278,"(41.73549558, -87.544277946)"
379417,3919742,1788198,G588031,10/01/2001 11:50:00 AM,035XX S FEDERAL ST,2095,NARCOTICS,ATTEMPT POSSESSION NARCOTICS,CHA PARKING LOT/GROUNDS,True,False,211,2.0,NaN,NaN,18,1176254.0,1.88129e+06,2001.000000,08/17/2015 03:03:40 PM,41.8296,-87.628828,"(41.829611625, -87.628828268)"
379416,3919741,1788197,G608137,10/10/2001 10:30:00 AM,052XX W LAKE ST,0560,ASSAULT,SIMPLE,APARTMENT,False,True,1523,15.0,NaN,NaN,08A,1141263.0,1.902e+06,2001.000000,08/17/2015 03:03:40 PM,41.8872,-87.756701,"(41.887161131, -87.756700663)"
379415,3919740,1788196,G600377,10/06/2001 04:15:00 PM,059XX W NORTH AV,0460,BATTERY,SIMPLE,APARTMENT,False,True,2531,25.0,NaN,NaN,08B,1136080.0,1.91006e+06,2001.000000,08/17/2015 03:03:40 PM,41.9094,-87.775542,"(41.909361813, -87.775542081)"
379414,3919739,1788193,G588142,10/01/2001 11:15:00 AM,035XX S STATE ST,1812,NARCOTICS,POSS: CANNABIS MORE THAN 30GMS,CHA PARKING LOT/GROUNDS,True,False,211,2.0,NaN,NaN,18,1176821.0,1.88134e+06,2001.000000,08/17/2015 03:03:40 PM,41.8297,-87.626746,"(41.82973605, -87.626746464)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663497,5263662,3394796,HK442661,06/20/2004 01:40:00 AM,056XX S WOLCOTT AVE,051A,ASSAULT,AGGRAVATED: HANDGUN,STREET,True,False,715,7.0,15.0,67.0,04A,1164653.0,1.86717e+06,2004.000000,04/15/2016 08:55:02 AM,41.7911,-87.671791,"(41.791128866, -87.67179075)"
1663496,5263661,3394794,HK447967,06/21/2004 12:00:00 AM,042XX W 13TH ST,0820,THEFT,$500 AND UNDER,ALLEY,False,False,1011,10.0,24.0,29.0,06,1148126.0,1.8937e+06,2004.000000,04/15/2016 08:55:02 AM,41.8643,-87.731711,"(41.864250161, -87.731711202)"
1663495,5263660,3394793,HK447633,06/20/2004 12:30:00 PM,026XX S THROOP ST,501A,OTHER OFFENSE,ANIMAL ABUSE/NEGLECT,OTHER,False,False,923,9.0,11.0,60.0,26,1168898.0,1.88694e+06,2004.000000,04/15/2016 08:55:02 AM,41.8453,-87.655654,"(41.84526989, -87.655653735)"
1663494,5263659,3394792,HK449598,06/22/2004 10:30:00 AM,0000X N PEORIA ST,0820,THEFT,$500 AND UNDER,STREET,False,False,1212,12.0,27.0,28.0,06,1170410.0,1.9004e+06,2004.000000,04/15/2016 08:55:02 AM,41.8822,-87.649711,"(41.882180539, -87.649711469)"
1663503,5263668,3394803,HK448110,06/22/2004 02:00:00 PM,039XX W OGDEN AVE,0860,THEFT,RETAIL THEFT,SMALL RETAIL STORE,True,False,1013,10.0,22.0,29.0,06,1150286.0,1.88903e+06,2004.000000,04/15/2016 08:55:02 AM,41.8514,-87.723904,"(41.851393305, -87.723903515)"
1663540,5263705,3394844,HK449214,06/23/2004 01:15:00 AM,008XX W WINDSOR AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,APARTMENT,False,False,2313,19.0,46.0,3.0,26,1169833.0,1.9304e+06,2004.000000,04/15/2016 08:55:02 AM,41.9645,-87.650954,"(41.964506409, -87.65095367)"
1663515,5263680,3394816,HK441894,06/05/2004 07:30:00 PM,037XX W 71ST ST,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,833,8.0,13.0,65.0,14,1152511.0,1.85726e+06,2004.000000,04/15/2016 08:55:02 AM,41.7642,-87.716574,"(41.764182044, -87.716573827)"
1663517,5263682,3394818,HK449681,06/22/2004 11:00:00 PM,023XX N LAKEWOOD AVE,031A,ROBBERY,ARMED: HANDGUN,TAXICAB,False,False,1811,18.0,32.0,7.0,03,1167260.0,1.91558e+06,2004.000000,04/15/2016 08:55:02 AM,41.9239,-87.660841,"(41.923898238, -87.660841299)"
1663538,5263703,3394842,HK449848,06/23/2004 11:10:00 AM,016XX E 68TH ST,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,APARTMENT,False,True,332,3.0,5.0,43.0,26,1188325.0,1.86022e+06,2004.000000,04/15/2016 08:55:02 AM,41.7715,-87.585213,"(41.771516648, -87.585213433)"
1663537,5263702,3394841,HK444410,06/21/2004 12:20:00 AM,100XX W OHARE ST,1335,CRIMINAL TRESPASS,TO AIRPORT,AIRPORT/AIRCRAFT,True,False,1651,16.0,41.0,76.0,26,1100658.0,1.93424e+06,2004.000000,04/15/2016 08:55:02 AM,41.9763,-87.905227,"(41.976290414, -87.905227221)"
1663536,5263701,3394840,HK439158,06/18/2004 12:51:02 PM,022XX W 69TH ST,1345,CRIMINAL DAMAGE,TO CITY OF CHICAGO PROPERTY,FIRE STATION,False,False,832,8.0,17.0,66.0,14,1162383.0,1.85886e+06,2004.000000,04/15/2016 08:55:02 AM,41.7684,-87.680346,"(41.768367244, -87.680345818)"
1663535,5263700,3394839,HK446865,06/22/2004 12:20:00 AM,045XX S DR MARTIN LUTHER KING JR DR,1345,CRIMINAL DAMAGE,TO CITY OF CHICAGO PROPERTY,STREET,False,False,222,2.0,3.0,38.0,14,1179615.0,1.87518e+06,2004.000000,04/15/2016 08:55:02 AM,41.8128,-87.616684,"(41.81278547, -87.616683734)"
1663533,5263698,3394836,HK442733,06/20/2004 02:50:00 AM,081XX S CHRISTIANA AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,True,834,8.0,18.0,70.0,14,1155466.0,1.85036e+06,2004.000000,04/15/2016 08:55:02 AM,41.7452,-87.705928,"(41.745172215, -87.705927509)"
1663532,5263697,3394835,HK446816,06/21/2004 11:45:00 PM,001XX E 47TH ST,0820,THEFT,$500 AND UNDER,RESTAURANT,False,False,221,2.0,3.0,38.0,06,1178077.0,1.8739e+06,2004.000000,04/15/2016 08:55:02 AM,41.8093,-87.622364,"(41.809294376, -87.622364091)"
1663531,5263696,3394834,HK439925,06/16/2004 08:30:00 PM,058XX S NARRAGANSETT AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,811,8.0,23.0,56.0,14,1134724.0,1.86516e+06,2004.000000,04/15/2016 08:55:02 AM,41.7862,-87.781583,"(41.786178895, -87.781583208)"
1663530,5263695,3394833,HK446733,06/21/2004 05:10:00 PM,056XX S WABASH AVE,0630,BURGLARY,ATTEMPT FORCIBLE ENTRY,APARTMENT,False,False,233,2.0,20.0,40.0,05,1177675.0,1.86772e+06,2004.000000,04/15/2016 08:55:02 AM,41.7924,-87.624025,"(41.792361461, -87.62402541)"
1663529,5263694,3394832,HK448354,06/22/2004 04:55:00 PM,026XX W 35TH ST,1310,CRIMINAL DAMAGE,TO PROPERTY,CHURCH/SYNAGOGUE/PLACE OF WORSHIP,False,False,913,9.0,12.0,58.0,14,1159385.0,1.88136e+06,2004.000000,04/15/2016 08:55:02 AM,41.8302,-87.690718,"(41.830174886, -87.690718414)"
1663516,5263681,3394817,HK446542,06/21/2004 08:50:00 PM,043XX S INDIANA AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,SIDEWALK,True,False,221,2.0,3.0,38.0,08B,1178321.0,1.87638e+06,2004.000000,04/15/2016 08:55:02 AM,41.8161,-87.621394,"(41.81611063, -87.621393611)"
1663528,5263693,3394831,HK412919,06/06/2004 04:28:23 PM,077XX S ALBANY AVE,2027,NARCOTICS,POSS: CRACK,STREET,True,False,835,8.0,18.0,70.0,18,1157056.0,1.85305e+06,2004.000000,04/15/2016 08:55:02 AM,41.7525,-87.700029,"(41.752522047, -87.700028888)"
1663526,5263691,3394829,HK446718,06/21/2004 10:19:41 PM,059XX S STATE ST,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,STREET,False,False,233,2.0,20.0,40.0,17,1177289.0,1.86573e+06,2004.000000,04/15/2016 08:55:02 AM,41.7869,-87.625501,"(41.78690669, -87.625500912)"
1663525,5263690,3394828,HK436733,06/17/2004 11:08:52 AM,067XX S RHODES AVE,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,STREET,True,False,321,3.0,20.0,42.0,18,1181069.0,1.86049e+06,2004.000000,04/15/2016 08:55:02 AM,41.7724,-87.611803,"(41.772433165, -87.611802816)"
1663524,5263689,3394827,HK412675,06/06/2004 02:25:00 PM,024XX W 79TH ST,2027,NARCOTICS,POSS: CRACK,ALLEY,True,False,835,8.0,18.0,70.0,18,1161310.0,1.85216e+06,2004.000000,04/15/2016 08:55:02 AM,41.75,-87.684464,"(41.750017464, -87.684464005)"
1663523,5263688,3394826,HK442898,06/20/2004 06:16:00 AM,029XX W 60TH ST,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,823,8.0,15.0,66.0,14,1157606.0,1.86471e+06,2004.000000,04/15/2016 08:55:02 AM,41.7845,-87.697697,"(41.784515943, -87.69769749)"
1663522,5263687,3394825,HK448481,06/22/2004 06:00:00 PM,032XX S WENTWORTH AVE,1330,CRIMINAL TRESPASS,TO LAND,OTHER,True,False,924,9.0,11.0,34.0,26,1175474.0,1.88352e+06,2004.000000,04/15/2016 08:55:02 AM,41.8358,-87.631623,"(41.835762166, -87.631623068)"
1663521,5263686,3394823,HK439498,06/18/2004 03:13:28 PM,036XX W 80TH ST,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,834,8.0,18.0,70.0,14,1153576.0,1.85131e+06,2004.000000,04/15/2016 08:55:02 AM,41.7478,-87.712828,"(41.747816782, -87.71282775)"
1663520,5263685,3394821,HK442803,06/20/2004 04:10:00 AM,003XX W 64TH ST,1330,CRIMINAL TRESPASS,TO LAND,HOSPITAL BUILDING/GROUNDS,True,False,722,7.0,20.0,68.0,26,1175044.0,1.86251e+06,2004.000000,04/15/2016 08:55:02 AM,41.7781,-87.633829,"(41.778099133, -87.633828531)"
1663519,5263684,3394820,HK412603,06/06/2004 01:45:00 PM,063XX S TALMAN AVE,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,STREET,True,False,825,8.0,15.0,66.0,18,1159802.0,1.8624e+06,2004.000000,04/15/2016 08:55:02 AM,41.7781,-87.689709,"(41.778137638, -87.689709352)"
1663518,5263683,3394819,HK439160,06/18/2004 12:34:00 PM,050XX S ASHLAND AVE,1330,CRIMINAL TRESPASS,TO LAND,OTHER,True,False,931,9.0,16.0,61.0,26,1166528.0,1.87125e+06,2004.000000,04/15/2016 08:55:02 AM,41.8023,-87.664799,"(41.80227684, -87.664799262)"
1663527,5263692,3394830,HK447729,06/22/2004 06:45:00 AM,060XX S LOOMIS BLVD,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,PARKING LOT/GARAGE(NON.RESID.),False,False,713,7.0,16.0,67.0,07,1168033.0,1.86461e+06,2004.000000,04/15/2016 08:55:02 AM,41.784,-87.659471,"(41.784023647, -87.659470677)"
0,879,4786321,HM399414,01/01/2004 12:01:00 AM,082XX S COLES AVE,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,424,4.0,7.0,46.0,06,NaN,NaN,2004.000000,08/17/2015 03:03:40 PM,NaN,NaN,NaN

In [17]:
def changeToDateTime(df, columnName, timeFormat): 
    df[columnName] = pd.to_datetime(df[columnName], format = timeFormat)

In [18]:
dateFormat = '%m/%d/%Y %I:%M:%S %p' 
yearFormat = '%Y.0'

In [19]:
changeToDateTime(df1, 'Date', dateFormat)

In [62]:
#changeToDateTime(df1, 'Year', yearFormat)

In [92]:
#df2003 = df1.loc[df1['Date'].dt.year == 2003] #allows easy slicing of data by time

## Exploring Null Values in Year 2001 'Ward' 
* From the "Analyze Missing Data" section, we found out that df1 had a lot of missing data for the 'Ward' column. We decided to explore it and understand if it was a phenomenon that occurred only for a particular year. 
* We found out that 2001 accounted for563443/7000132 or ~80% of df1's missing 'Ward' data
* We hypothesize that this may have been the case because 'Ward' data may have been put in only after the mid 2001s (we do not know if this true)

This is the observations in df1 that has all the missing 'Ward' info:

In [20]:
df1WardNull = df1.loc[df1['Ward'].isnull()]

There are this many missing 'Ward' data in df1's observations:

In [133]:
len(df1WardNull)

700132

These are how many 'Ward' observations are missing in the year 2001:

In [23]:
ward2001Nan = df1.loc[(df1['Ward'].isnull()) &( df1['Date'].dt.year == 2001)]

len(ward2001Nan)

563443

So 2001 accounts for this percentage of df1's missing observations in 'Ward':

In [2]:
str(563443/700132*100) + "%"

'80.47668154005245%'

In [25]:
df2001 = len(df1.loc[df1['Date'].dt.year == 2001])

## Exploration of Unique Labels
* We wanted to see what labels were used for each category/column to better understand the data we were working with

In [29]:
'''Takes in a dataframe and returns a dataframe with the corresponding
unique labels made in each column
'''
def uniqueLabels(df):
    dfInitial = pd.DataFrame(index = [0], columns =df.columns)
    for column in df.columns:
        uniqueCounts = df[column].unique()
        numObservations = len(df[column])
        dfInitial[column][0] = uniqueCounts
    return dfInitial

In [30]:
dfTotal.name = 'dfTotal'

In [31]:
dftotal_unique = uniqueLabels(dfTotal)

### (1) The Unique Labels for each Column
This demonstrates and summarizes what kind of labels were used per column:

In [32]:
dftotal_unique

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,"[879, 2544, 2919, 2927, 3302, 3633, 3756, 4502...","[4786321, 4676906, 4789749, 4789765, 4677901, ...","[HM399414, HM278933, HM402220, HM402058, HM275...","[01/01/2004 12:01:00 AM, 03/01/2003 12:00:00 A...","[082XX S COLES AVE, 004XX W 42ND PL, 025XX N K...","[0840, 2825, 1752, 0841, 0266, 5007, 0890, 175...","[THEFT, OTHER OFFENSE, OFFENSE INVOLVING CHILD...","[FINANCIAL ID THEFT: OVER $300, HARASSMENT BY ...","[RESIDENCE, OTHER, APARTMENT, RESIDENCE PORCH/...","[False, True]","[False, True]","[424, 935, 1413, 2521, 2233, 1011, 531, 2222, ...","[4.0, 9.0, 14.0, 25.0, 22.0, 10.0, 5.0, 18.0, ...","[7.0, 11.0, 35.0, 31.0, 34.0, 24.0, 9.0, 21.0,...","[46.0, 61.0, 22.0, 20.0, 49.0, 29.0, 50.0, 73....","[06, 26, 20, 02, 07, 17, 11, 10, 08B, 05, 15, ...","[nan, 1173974.0, 1174948.0, 1182247.0, 1169911...","[nan, 1876757.0, 1831051.0, 1829375.0, 1844832...","[2004.0, 2003.0, 2001.0, 2002.0, 41.789832136,...","[08/17/2015 03:03:40 PM, 04/15/2016 08:55:02 A...","[nan, 41.817229155999996, 41.691784636, 41.687...","[nan, -87.637328162, -87.635115968, -87.608445...","[nan, (41.817229156, -87.637328162), (41.69178..."

In [42]:
df_missingSummaries

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
df1,0,0,0,0,0,0,0,0,0.000831811,0,0,0,0.000103976,36.3986,36.4046,0,1.59557,1.59557,0,0,1.59557,1.59562,1.59562
df2,0,0,0,0,0,0,0,0,0.00133523,0,0,0,0.000267045,0.000801135,0.0186397,0,0.488906,0.488906,0,0,0.488906,0.488906,0.488906
df3,0,0,0.000223155,0,0,0,0,0,0.010823,0,0,0,0.00308698,0.00234313,0.0541152,0,1.06538,1.06538,0,0,1.06538,1.06538,1.06538
df4,0,0,6.86477e-05,0,0,0,0,0,0.113818,0,0,0,6.86477e-05,0.000961067,0.00274591,0,2.54566,2.54566,0,0,2.54566,2.54566,2.54566

### (2) Printing Out the Number of Unique Labels Per Column

In [61]:
def printUniqueSummaryValues (df): 
    for column in df.columns: 
        print(column + " has these many unique values: ")
        print(len(df[column][0]))

In [62]:
printUniqueSummaryValues(dftotal_unique)

Unnamed: 0 has these many unique values:
6170812
ID has these many unique values:
6170812
Case Number has these many unique values:
6170473
Date has these many unique values:
2451622
Block has these many unique values:
58776
IUCR has these many unique values:
398
Primary Type has these many unique values:
35
Description has these many unique values:
376
Location Description has these many unique values:
173
Arrest has these many unique values:
2
Domestic has these many unique values:
2
Beat has these many unique values:
304
District has these many unique values:
27
Ward has these many unique values:
51
Community Area has these many unique values:
79
FBI Code has these many unique values:
26
X Coordinate has these many unique values:
78276
Y Coordinate has these many unique values:
152136
Year has these many unique values:
18
Updated On has these many unique values:
1310
Latitude has these many unique values:
864639
Longitude has these many unique values:
838433
Location has these many unique values:
840086

## Dropping Columns 
From our exploration of labels and Ward info, we were able to understand some of the properties of the categories and realized that some of the columns were too repetitive, too detailed, or unnecessary for answering our question. In addition, we also had problems working and creating a model because our dataset was big and decided to shrink its size. Thus, we decided to drop the following information:

### Dropping Columns: Part I

* Unnamed because it was an extraneous column 
* Ward because the dataset had a lot of missing data for df1 and we already had other categories indicating district or location. Hence, we deemed the column repetitive and unnecessary
* Longitude & Latitude because Location includes both coordinates' information  
* Updated On because we are not interested in this data. It does not help answer our question
* X Coordinate & Y Coordinate, because we will retain location information anyway with the 'Location' column and it was unclear as to which scale these x and y coordinates were based off  
* Case Number in this case because we already have an ID that identifies each observation uniquely

In [45]:
dfTotal.columns

Index(['Unnamed: 0', 'ID', 'Case Number', 'Date', 'Block', 'IUCR',
       'Primary Type', 'Description', 'Location Description', 'Arrest',
       'Domestic', 'Beat', 'District', 'Ward', 'Community Area', 'FBI Code',
       'X Coordinate', 'Y Coordinate', 'Year', 'Updated On', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')

In [46]:
delInitialCols = ['Unnamed: 0', 'Case Number', 'Longitude', 'Latitude', 'Ward', 'X Coordinate', 'Y Coordinate', 'Updated On']

In [47]:
dfTotal = dfTotal.drop(delInitialCols, axis = 1) #actual deletion

In [48]:
dfTotal.head()

,ID,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Community Area,FBI Code,Year,Location
0,4786321,01/01/2004 12:01:00 AM,082XX S COLES AVE,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,424,4.0,46.0,06,2004.0,NaN
1,4676906,03/01/2003 12:00:00 AM,004XX W 42ND PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,935,9.0,61.0,26,2003.0,"(41.817229156, -87.637328162)"
2,4789749,06/20/2004 11:00:00 AM,025XX N KIMBALL AVE,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,1413,14.0,22.0,20,2004.0,NaN
3,4789765,12/30/2004 08:00:00 PM,045XX W MONTANA ST,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,2521,25.0,20.0,06,2004.0,NaN
4,4677901,05/01/2003 01:00:00 AM,111XX S NORMAL AVE,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,2233,22.0,49.0,06,2003.0,"(41.691784636, -87.635115968)"

### Dropping Columns: Part II 
We delete:
* Community Area because a groupings by region, Beat and District, already exist 
* Block because it contains addresses which are too fine grain details that we do not need

In [53]:
delInitialCols2 = ['Community Area', 'Block']

In [54]:
dfTotal = dfTotal.drop(delInitialCols2, axis = 1) #actual deletion

In [55]:
dfTotal.head()

,ID,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,FBI Code,Year,Location
0,4786321,01/01/2004 12:01:00 AM,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,424,4.0,06,2004.0,NaN
1,4676906,03/01/2003 12:00:00 AM,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,935,9.0,26,2003.0,"(41.817229156, -87.637328162)"
2,4789749,06/20/2004 11:00:00 AM,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,1413,14.0,20,2004.0,NaN
3,4789765,12/30/2004 08:00:00 PM,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,2521,25.0,06,2004.0,NaN
4,4677901,05/01/2003 01:00:00 AM,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,2233,22.0,06,2003.0,"(41.691784636, -87.635115968)"

In [63]:
def printUniqueValues (df): 
    for column in df.columns: 
        print(column + " has these many unique values: ")
        print(len(df[column].unique()))

In [64]:
printUniqueValues(dfTotal)

ID has these many unique values:
6170812
Date has these many unique values:
2451622
IUCR has these many unique values:
398
Primary Type has these many unique values:
35
Description has these many unique values:
376
Location Description has these many unique values:
173
Arrest has these many unique values:
2
Domestic has these many unique values:
2
Beat has these many unique values:
304
District has these many unique values:
27
FBI Code has these many unique values:
26
Year has these many unique values:
18
Location has these many unique values:
840086

### Dropping Columns: Part III 
* We decided to drop Beat.

While Beat has 0 missing data values, it has 304 different categories while District has 27 and has missing categories. We believed groupings of districts did not need to be so fine grain, particularly when we already have information with Location.

In [65]:
dfTotal = dfTotal.drop(['Beat'], axis = 1) #actual deletion

In [67]:
len(dfTotal)

7941282

In [70]:
dfTotal.head()

,index,ID,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,FBI Code,Year,Location
0,0,4786321,01/01/2004 12:01:00 AM,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4.0,06,2004.0,NaN
1,1,4676906,03/01/2003 12:00:00 AM,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,9.0,26,2003.0,"(41.817229156, -87.637328162)"
2,2,4789749,06/20/2004 11:00:00 AM,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,14.0,20,2004.0,NaN
3,3,4789765,12/30/2004 08:00:00 PM,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,25.0,06,2004.0,NaN
4,4,4677901,05/01/2003 01:00:00 AM,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,22.0,06,2003.0,"(41.691784636, -87.635115968)"

### Export dfTotal 
We export dfTotal to a csv exporting to a csv, so that we could get rid of the local data and reduce the dataset size on our local computer

In [69]:
dfTotal = dfTotal.reset_index() #to realign the indices from the concatenation of four dataframesfrom before

In [291]:
newTotalDf = pd.read_csv("../../crimesInChicagoData/dfTotal.csv")

In [292]:
newTotalDf = newTotalDf.drop(['Unnamed: 0'], axis = 1)

We needed to reconvert 'Date' to a timeseries format for sorting. None of the data was in fact changed.

In [293]:
changeToDateTime(newTotalDf, 'Date', dateFormat)

In [294]:
newTotalDf.head()

,index,ID,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,FBI Code,Year,Location
0,0,4786321,2004-01-01 00:01:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4.0,06,2004.0,NaN
1,1,4676906,2003-03-01 00:00:00,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,9.0,26,2003.0,"(41.817229156, -87.637328162)"
2,2,4789749,2004-06-20 11:00:00,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,14.0,20,2004.0,NaN
3,3,4789765,2004-12-30 20:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,25.0,06,2004.0,NaN
4,4,4677901,2003-05-01 01:00:00,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,22.0,06,2003.0,"(41.691784636, -87.635115968)"

## Unnest Location Data: Readding Latitude and Longitude 
We decided to include latitude and longitude coordinates. While this is repetitive, we had lost the information on our local computer and the datset took to long to import we just readded the Latitude and Longitude columns using Location data.

In [300]:
locationDf = newTotalDf['Location']
latitudeList = []
longitudeList = []
for location in locationDf:
    if(type(location) != str): #if it is nan 
        latitudeList.append(location)
        longitudeList.append(location)
    elif(type(location) == str): 
        coordinate = location.replace("(", "")
        coordinate = coordinate.replace(")", "")
        splitCoords = coordinate.split(",")
        latCoord = float(splitCoords[0])
        longCoord = float(splitCoords[1])
        latitudeList.append(latCoord)
        longitudeList.append(longCoord)
        
    else: 
        print(location)

In [302]:
latitudeDf = pd.DataFrame({'Latitude':latitudeList})
latitudeDf.head(10)

    Latitude
0        NaN
1  41.817229
2        NaN
3        NaN
4  41.691785
5        NaN
6  41.687020
7  41.729712
8        NaN
9  41.869772

In [303]:
longitudeDf = pd.DataFrame({'Longitude':longitudeList})
longitudeDf.head(10)

   Longitude
0        NaN
1 -87.637328
2        NaN
3        NaN
4 -87.635116
5        NaN
6 -87.608445
7 -87.653159
8        NaN
9 -87.708180

In [304]:
locationsDf = latitudeDf.join(longitudeDf)

In [305]:
locationsDf.head(20)

     Latitude  Longitude
0         NaN        NaN
1   41.817229 -87.637328
2         NaN        NaN
3         NaN        NaN
4   41.691785 -87.635116
5         NaN        NaN
6   41.687020 -87.608445
7   41.729712 -87.653159
8         NaN        NaN
9   41.869772 -87.708180
10  41.724330 -87.638434
11        NaN        NaN
12  41.783164 -87.727773
13        NaN        NaN
14  41.831494 -87.667977
15  41.778921 -87.706365
16  41.911825 -87.715753
17  41.791519 -87.729099
18  41.834523 -87.682642
19        NaN        NaN

In [306]:
print(len(latitudeDf))
print(len(longitudeDf))
print(len(newTotalDf))
print(len(locationsDf))

7941281
7941281
7941281
7941281

In [307]:
newTotalDf =newTotalDf.join(locationsDf)

In [282]:
newTotalDf= newTotalDf.drop(['index', 'Location'],axis =1)

In [326]:
newTotalDf.head(10)

,level_0,ID,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,FBI Code,Year,Latitude,Longitude
0,0,4786321,2004-01-01 00:01:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4.0,06,2004.0,NaN,NaN
1,1,4676906,2003-03-01 00:00:00,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,9.0,26,2003.0,41.817229,-87.637328
2,2,4789749,2004-06-20 11:00:00,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,14.0,20,2004.0,NaN,NaN
3,3,4789765,2004-12-30 20:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,25.0,06,2004.0,NaN,NaN
4,4,4677901,2003-05-01 01:00:00,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,22.0,06,2003.0,41.691785,-87.635116
5,5,4838048,2004-08-01 00:01:00,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,APARTMENT,False,False,10.0,06,2004.0,NaN,NaN
6,6,4791194,2001-01-01 11:00:00,0266,CRIM SEXUAL ASSAULT,PREDATORY,RESIDENCE,True,True,5.0,02,2001.0,41.687020,-87.608445
7,7,4679521,2003-03-15 00:00:00,5007,OTHER OFFENSE,OTHER WEAPONS VIOLATION,RESIDENCE PORCH/HALLWAY,False,False,22.0,26,2003.0,41.729712,-87.653159
8,8,4792195,2004-09-16 10:00:00,0890,THEFT,FROM BUILDING,RESIDENCE,False,False,18.0,06,2004.0,NaN,NaN
9,9,4680124,2003-01-01 00:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,11.0,06,2003.0,41.869772,-87.708180

### Export and Import the New Cleaned Dataset With Latitude and Longitude Information
This is just to prevent crashes of the notebook because of a memory overflow.

In [327]:
newTotalDf.to_csv("../../crimesInChicagoData/newTotalDf.csv")

In [3]:
dataset = pd.read_csv("../../crimesInChicagoData/newTotalDf.csv")

In [ ]:
dataset = dataset.drop(['level_0'], axis =1)

In [6]:
dataset.head()

,Unnamed: 0,ID,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,FBI Code,Year,Latitude,Longitude
0,0,4786321,2004-01-01 00:01:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4.0,06,2004.0,NaN,NaN
1,1,4676906,2003-03-01 00:00:00,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,9.0,26,2003.0,41.817229,-87.637328
2,2,4789749,2004-06-20 11:00:00,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,14.0,20,2004.0,NaN,NaN
3,3,4789765,2004-12-30 20:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,25.0,06,2004.0,NaN,NaN
4,4,4677901,2003-05-01 01:00:00,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,22.0,06,2003.0,41.691785,-87.635116

## Using the District Data to fill in the Missing Longitude and Latitude Data
While this process may be flawed because it could make certain regions seem to appear more frequently, we are only missing less than 5% of the data. So we believe the following process and the method we use to fill in the missing values will not be significant. We could have dropped those observations, but we still wanted to retain other data corresponding to the observations with missing longitude and latitude data. 

### Part I: Filling in NaN Data of Longitude and Latitude Observations that have District info in Observation
* District corresponds to a specific region.
* In this section we subdivide the data by district then find the "average" location for each district 
* That average will be used to fill in the location missing value

In [11]:
uniqueDistricts = list(dataset['District'].unique())

uniqueDistricts.remove(uniqueDistricts[24]) #removed the nan

In [12]:
uniqueDistricts

[4.0,
 9.0,
 14.0,
 25.0,
 22.0,
 10.0,
 5.0,
 18.0,
 11.0,
 20.0,
 8.0,
 7.0,
 1.0,
 16.0,
 15.0,
 3.0,
 6.0,
 2.0,
 19.0,
 12.0,
 24.0,
 17.0,
 31.0,
 21.0,
 23.0,
 13.0]

In [13]:
def subsetLists(df, subsetCategories, columnName): 
    uniqueSubsetsList = []
    for category in subsetCategories: 
        dfSubset = df.loc[df[columnName] == category] 
        uniqueSubsetsList.append(dfSubset)
    return uniqueSubsetsList

In [14]:
uniqueDistrictsList = subsetLists(dataset, uniqueDistricts, 'District')

In [28]:
for i in range(len(uniqueDistrictsList)):
    print(str(uniqueDistrictsList[i]['District'].unique()) + " district is consisted of the follwing # of districts: ")
    print(len(uniqueDistrictsList[i]))

[ 4.] district is consisted of the follwing # of districts:
453894
[ 9.] district is consisted of the follwing # of districts:
397942
[ 14.] district is consisted of the follwing # of districts:
314642
[ 25.] district is consisted of the follwing # of districts:
463938
[ 22.] district is consisted of the follwing # of districts:
263055
[ 10.] district is consisted of the follwing # of districts:
335491
[ 5.] district is consisted of the follwing # of districts:
354567
[ 18.] district is consisted of the follwing # of districts:
337197
[ 11.] district is consisted of the follwing # of districts:
498775
[ 20.] district is consisted of the follwing # of districts:
137310
[ 8.] district is consisted of the follwing # of districts:
550011
[ 7.] district is consisted of the follwing # of districts:
476524
[ 1.] district is consisted of the follwing # of districts:
291073
[ 16.] district is consisted of the follwing # of districts:
263442
[ 15.] district is consisted of the follwing # of districts:
352585
[ 3.] district is consisted of the follwing # of districts:
407866
[ 6.] district is consisted of the follwing # of districts:
457669
[ 2.] district is consisted of the follwing # of districts:
378296
[ 19.] district is consisted of the follwing # of districts:
351537
[ 12.] district is consisted of the follwing # of districts:
386274
[ 24.] district is consisted of the follwing # of districts:
237983
[ 17.] district is consisted of the follwing # of districts:
230955
[ 31.] district is consisted of the follwing # of districts:
158
[ 21.] district is consisted of the follwing # of districts:
4
[ 23.] district is consisted of the follwing # of districts:
1
[ 13.] district is consisted of the follwing # of districts:
1

In [42]:
def fillMissingWithAverage(columnName, df):
    totalSum = df[columnName].sum()
    totalCount = df[columnName].describe()['count']
    average = totalSum/totalCount 
    df[columnName].fillna(average, inplace = True)

In [43]:
for dataframe in uniqueDistrictsList:
    fillMissingWithAverage('Latitude', dataframe)
    fillMissingWithAverage('Longitude', dataframe)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/generic.py:3660: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

### Part II: Filling in Districts with Missing Values, but nonempty longitude/latitude data

In [90]:
avgCoordsList = []
for dataFrame in  uniqueDistrictsList:
    coords = []
    lat = dataFrame['Latitude'].sum()/dataFrame['Latitude'].describe()['count']
    long = dataFrame['Longitude'].sum()/dataFrame['Longitude'].describe()['count']
    coords.append(lat)
    coords.append(long)
    coords.append(str(dataFrame['District'].unique()[0]))
    avgCoordsList.append(coords)
    print(coords)

[41.734106465357918, -87.563621465897356, '4.0']
[41.814834324982158, -87.665279593948156, '9.0']
[41.915619987842391, -87.694019153700154, '14.0']
[41.919054267813586, -87.752178204964579, '25.0']
[41.708615973820699, -87.658508927398941, '22.0']
[41.853446584131227, -87.712625046552503, '10.0']
[41.687693669783748, -87.62293524998104, '5.0']
[41.902862496469353, -87.636098052120047, '18.0']
[41.882593721342076, -87.71915927439089, '11.0']
[41.978504465170332, -87.671868012214816, '20.0']
[41.77828299100242, -87.715424268281978, '8.0']
[41.775835445561057, -87.653798495789147, '7.0']
[41.871889066502099, -87.62891553227513, '1.0']
[41.964588567605986, -87.796818568950187, '16.0']
[41.886361521048535, -87.758102961052728, '15.0']
[41.770891499332414, -87.597182482763628, '3.0']
[41.745504921274303, -87.63270767909394, '6.0']
[41.810943162372638, -87.613066009139018, '2.0']
[41.947739249024593, -87.660401833179506, '19.0']
[41.880340460211137, -87.672350340257438, '12.0']
[42.005665013248972, -87.67746115052617, '24.0']
[41.960077329232384, -87.720693548495518, '17.0']
[41.761232023411395, -87.745320623455683, '31.0']
[41.837900603000001, -87.621915439999995, '21.0']
[41.939315143000002, -87.709427329999997, '23.0']
[41.894939076, -87.680461180999998, '13.0']

In [76]:
nullDistricts = dataset.loc[dataset['District'].isnull() ]

In [81]:
nullDistricts['Latitude'].isnull().sum()
nullDistricts['Longitude'].isnull().sum()

0

In [82]:
nullDistricts

,Unnamed: 0,ID,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,FBI Code,Year,Latitude,Longitude
1802296,1802296,3575885,2004-06-26 10:00:00,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,RESTAURANT,False,False,NaN,11,2004.0,41.892164,-87.607702
1817065,1817065,3596991,2004-10-14 15:41:00,0610,BURGLARY,FORCIBLE ENTRY,CONSTRUCTION SITE,False,False,NaN,05,2004.0,41.886323,-87.610023
1969393,1969393,4740376,2006-05-10 19:40:00,0460,BATTERY,SIMPLE,OTHER,False,False,NaN,08B,2006.0,41.884107,-87.610757
2503109,2503109,4740376,2006-05-10 19:40:00,0460,BATTERY,SIMPLE,OTHER,False,False,NaN,08B,2006.0,41.884107,-87.610757
3242555,3242555,6405961,2007-11-16 00:01:00,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,RESIDENCE,False,True,NaN,11,2007.0,41.709756,-87.651424
3242582,3242582,6420740,2007-01-07 05:00:00,1140,DECEPTIVE PRACTICE,EMBEZZLEMENT,OTHER,False,False,NaN,12,2007.0,41.838968,-87.665779
3636356,3636356,4437079,2005-11-10 10:10:00,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,GOVERNMENT BUILDING/PROPERTY,False,True,NaN,26,2005.0,41.892240,-87.603173
4031834,4031834,6376239,2008-07-18 20:00:00,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,False,False,NaN,14,2008.0,41.899573,-87.723769
4058377,4058377,6420058,2008-07-13 18:08:55,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,ALLEY,True,False,NaN,18,2008.0,41.699909,-87.620564
4077370,4077370,6451103,2008-08-23 21:23:00,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,SIDEWALK,False,False,NaN,17,2008.0,41.944632,-87.659105
4082462,4082462,6459556,2008-08-26 23:40:00,0320,ROBBERY,STRONGARM - NO WEAPON,STREET,False,False,NaN,03,2008.0,41.927233,-87.667013
4084439,4084439,6462999,2008-08-23 12:00:00,1122,DECEPTIVE PRACTICE,COUNTERFEIT CHECK,CHURCH/SYNAGOGUE/PLACE OF WORSHIP,False,False,NaN,10,2008.0,41.783365,-87.622174
4098625,4098625,6486045,2008-09-07 13:00:00,4387,OTHER OFFENSE,VIOLATE ORDER OF PROTECTION,OTHER,True,True,NaN,26,2008.0,41.936699,-87.810363
4099704,4099704,6488159,2008-09-09 17:00:00,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,NaN,07,2008.0,41.966871,-87.729210
4115300,4115300,6514077,2008-09-21 22:00:00,0550,ASSAULT,AGGRAVATED PO: HANDGUN,ALLEY,True,False,NaN,04A,2008.0,41.783478,-87.612097
4116497,4116497,6516041,2008-09-22 21:10:00,0560,ASSAULT,SIMPLE,SIDEWALK,False,False,NaN,08A,2008.0,41.905907,-87.696954
4118830,4118830,6519692,2008-09-20 20:00:00,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,RESIDENCE,False,False,NaN,17,2008.0,41.762281,-87.691741
4128198,4128198,6534030,2008-09-03 12:00:00,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,NaN,07,2008.0,41.887489,-87.674367
4128561,4128561,6534600,2008-10-03 12:50:00,1130,DECEPTIVE PRACTICE,FRAUD OR CONFIDENCE GAME,BANK,False,False,NaN,11,2008.0,41.844261,-87.723905
4138694,4138694,6549802,2008-10-11 15:00:00,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,True,False,NaN,07,2008.0,41.908024,-87.667617
4142812,4142812,6555854,2008-10-15 16:10:00,0610,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,False,NaN,05,2008.0,41.910420,-87.681035
4145692,4145692,6560428,2008-10-16 23:00:00,0313,ROBBERY,ARMED: OTHER DANGEROUS WEAPON,SIDEWALK,False,False,NaN,03,2008.0,41.897270,-87.717918
4146443,4146443,6561442,2008-10-18 06:30:00,0291,CRIM SEXUAL ASSAULT,ATTEMPT NON-AGGRAVATED,SIDEWALK,False,False,NaN,02,2008.0,41.761285,-87.662806
4146902,4146902,6562039,2008-10-17 22:39:00,0320,ROBBERY,STRONGARM - NO WEAPON,STREET,False,False,NaN,03,2008.0,41.958559,-87.692316
4151616,4151616,6569778,2008-10-22 08:30:00,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,NaN,05,2008.0,41.744617,-87.595328
4155881,4155881,6576124,2008-08-21 14:30:00,1152,DECEPTIVE PRACTICE,ILLEGAL USE CASH CARD,RESIDENCE,False,False,NaN,11,2008.0,41.889202,-87.617611
4156878,4156878,6577661,2008-10-17 12:00:00,0843,THEFT,ATTEMPT FINANCIAL IDENTITY THEFT,RESIDENCE,False,False,NaN,06,2008.0,41.917152,-87.636346
4157284,4157284,6578354,2008-10-27 21:19:00,0920,MOTOR VEHICLE THEFT,ATT: AUTOMOBILE,RESIDENTIAL YARD (FRONT/BACK),True,False,NaN,07,2008.0,41.780870,-87.649674
4157930,4157930,6579338,2008-10-25 17:45:00,0330,ROBBERY,AGGRAVATED,GAS STATION,False,False,NaN,03,2008.0,41.938968,-87.736504
4158170,4158170,6579790,2008-10-28 12:30:00,0890,THEFT,FROM BUILDING,RESTAURANT,False,False,NaN,06,2008.0,41.893387,-87.621160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5290307,5290307,6555854,2008-10-15 16:10:00,0610,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,False,NaN,05,2008.0,41.910420,-87.681035
5293187,5293187,6560428,2008-10-16 23:00:00,0313,ROBBERY,ARMED: OTHER DANGEROUS WEAPON,SIDEWALK,False,False,NaN,03,2008.0,41.897270,-87.717918
5293938,5293938,6561442,2008-10-18 06:30:00,0291,CRIM SEXUAL ASSAULT,ATTEMPT NON-AGGRAVATED,SIDEWALK,False,False,NaN,02,2008.0,41.761285,-87.662806
5294397,5294397,6562039,2008-10-17 22:39:00,0320,ROBBERY,STRONGARM - NO WEAPON,STREET,False,False,NaN,03,2008.0,41.958559,-87.692316
5299111,5299111,6569778,2008-10-22 08:30:00,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,NaN,05,2008.0,41.744617,-87.595328
5303376,5303376,6576124,2008-08-21 14:30:00,1152,DECEPTIVE PRACTICE,ILLEGAL USE CASH CARD,RESIDENCE,False,False,NaN,11,2008.0,41.889202,-87.617611
5304373,5304373,6577661,2008-10-17 12:00:00,0843,THEFT,ATTEMPT FINANCIAL IDENTITY THEFT,RESIDENCE,False,False,NaN,06,2008.0,41.917152,-87.636346
5304779,5304779,6578354,2008-10-27 21:19:00,0920,MOTOR VEHICLE THEFT,ATT: AUTOMOBILE,RESIDENTIAL YARD (FRONT/BACK),True,False,NaN,07,2008.0,41.780870,-87.649674
5305425,5305425,6579338,2008-10-25 17:45:00,0330,ROBBERY,AGGRAVATED,GAS STATION,False,False,NaN,03,2008.0,41.938968,-87.736504
5305665,5305665,6579790,2008-10-28 12:30:00,0890,THEFT,FROM BUILDING,RESTAURANT,False,False,NaN,06,2008.0,41.893387,-87.621160
5305758,5305758,6580042,2008-10-21 20:15:00,1506,PROSTITUTION,SOLICIT ON PUBLIC WAY,STREET,True,False,NaN,16,2008.0,41.879494,-87.740576
5305938,5305938,6580306,2008-10-24 17:45:00,1345,CRIMINAL DAMAGE,TO CITY OF CHICAGO PROPERTY,STREET,False,False,NaN,14,2008.0,41.903900,-87.769697
5305945,5305945,6580316,2008-10-27 19:14:20,0560,ASSAULT,SIMPLE,SIDEWALK,True,False,NaN,08A,2008.0,41.903368,-87.758278
5306023,5306023,6580405,2008-10-28 19:10:00,2900,WEAPONS VIOLATION,UNLAWFUL USE/SALE AIR RIFLE,SIDEWALK,True,False,NaN,15,2008.0,41.706904,-87.644346
5306297,5306297,6580757,2008-10-26 03:02:00,0486,BATTERY,DOMESTIC BATTERY SIMPLE,STREET,False,True,NaN,08B,2008.0,41.774336,-87.641814
5307406,5307406,6582700,2008-10-29 05:09:00,0430,BATTERY,AGGRAVATED: OTHER DANG WEAPON,STREET,True,False,NaN,04B,2008.0,41.763595,-87.630651
5307772,5307772,6583267,2008-10-14 21:44:00,143A,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,VEHICLE NON-COMMERCIAL,True,False,NaN,15,2008.0,41.757672,-87.648165
5308929,5308929,6585169,2008-10-10 23:57:00,0554,ASSAULT,AGG PO HANDS NO/MIN INJURY,STREET,True,False,NaN,08A,2008.0,41.787479,-87.618638
5310725,5310725,6587770,2008-10-31 18:00:00,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,NaN,14,2008.0,41.933442,-87.774829
5310914,5310914,6588015,2008-11-01 16:10:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,APARTMENT,False,False,NaN,06,2008.0,41.908731,-87.722840
5311439,5311439,6588615,2008-10-30 15:25:00,1110,DECEPTIVE PRACTICE,BOGUS CHECK,CURRENCY EXCHANGE,False,False,NaN,11,2008.0,41.780415,-87.605565
5312369,5312369,6590003,2008-11-02 20:15:00,0330,ROBBERY,AGGRAVATED,STREET,True,False,NaN,03,2008.0,41.871426,-87.725365
5313340,5313340,6591600,2008-11-03 17:09:00,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,PARKING LOT/GARAGE(NON.RESID.),False,False,NaN,07,2008.0,41.953175,-87.767436
5314204,5314204,6593077,2008-10-21 22:00:00,0890,THEFT,FROM BUILDING,RESIDENCE,False,False,NaN,06,2008.0,41.781671,-87.700776
5314943,5314943,6594103,2008-11-04 20:14:29,1320,CRIMINAL DAMAGE,TO VEHICLE,OTHER,False,False,NaN,14,2008.0,42.000304,-87.699719
5315319,5315319,6594923,2008-11-01 23:00:00,0460,BATTERY,SIMPLE,SIDEWALK,False,False,NaN,08B,2008.0,41.850590,-87.719844
5316079,5316079,6595969,2008-10-29 13:50:56,0460,BATTERY,SIMPLE,SIDEWALK,True,False,NaN,08B,2008.0,41.903457,-87.660475
5838284,5838284,7425376,2010-03-26 20:00:00,0890,THEFT,FROM BUILDING,RESTAURANT,False,False,NaN,06,2010.0,41.892164,-87.607702
6455331,6455331,8389014,2011-12-07 09:00:00,0820,THEFT,$500 AND UNDER,VACANT LOT/LAND,False,False,NaN,06,2011.0,36.619446,-91.686566
7022512,7022512,9164149,2013-06-07 20:13:00,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,STREET,True,False,NaN,18,2013.0,41.764684,-87.684162

##### Reverse Engineering :
* Using the average latitude, longitude data to predict the nullDistricts Designation
* Using the euclidean distance formula: sqrt((x2-x1)^2+ (y2-y1)^2)

In [86]:
def euclideanDistance(x1, x2, y1, y2):
    return math.sqrt((x2 -x1)**2 + (y2-y1)**2)

In [117]:
for observation in nullDistricts.index:
    origLat = nullDistricts['Latitude'][observation]
    origLong = nullDistricts['Longitude'][observation]
    distanceList = []
    for coord in avgCoordsList: 
        avgLat = coord[0]
        avgLong = coord[1]
        distanceList.append(euclideanDistance(origLat, avgLat, origLong, avgLong))
    
    shortestDistance = min(distanceList)
    shortestDistanceIndex = distanceList.index(shortestDistance)
    district = float(avgCoordsList[shortestDistanceIndex][2])
    
    nullDistricts['District'][observation] = district
#     print("this is the distance list: ")
#     print(distanceList)
#     print("\n")
#     print("this is the shortest distance:" )
#     print(shortestDistance)
#     print("\n")
#     print("this is the index: ")
#     print(shortestDistanceIndex)
#     print("\n")  
#     print("this is the district:")
#     print(district)
#     print("******************************\n")

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2910: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [119]:
nullDistricts['District'].isnull().sum() #check if districts have been successfully filled

0

In [124]:
allDistricts = uniqueDistrictsList 

allDistricts.append(nullDistricts)

Reseting 'dataset' to the new datset with non missing Longitude, Latitude & District Values

In [131]:
dataset = pd.concat(allDistricts, axis = 0)

In [135]:
dataset.sort_index()

,Unnamed: 0,ID,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,FBI Code,Year,Latitude,Longitude
0,0,4786321,2004-01-01 00:01:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4.0,06,2004.0,41.734106,-87.563621
1,1,4676906,2003-03-01 00:00:00,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,9.0,26,2003.0,41.817229,-87.637328
2,2,4789749,2004-06-20 11:00:00,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,14.0,20,2004.0,41.915620,-87.694019
3,3,4789765,2004-12-30 20:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,25.0,06,2004.0,41.919054,-87.752178
4,4,4677901,2003-05-01 01:00:00,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,22.0,06,2003.0,41.691785,-87.635116
5,5,4838048,2004-08-01 00:01:00,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,APARTMENT,False,False,10.0,06,2004.0,41.853447,-87.712625
6,6,4791194,2001-01-01 11:00:00,0266,CRIM SEXUAL ASSAULT,PREDATORY,RESIDENCE,True,True,5.0,02,2001.0,41.687020,-87.608445
7,7,4679521,2003-03-15 00:00:00,5007,OTHER OFFENSE,OTHER WEAPONS VIOLATION,RESIDENCE PORCH/HALLWAY,False,False,22.0,26,2003.0,41.729712,-87.653159
8,8,4792195,2004-09-16 10:00:00,0890,THEFT,FROM BUILDING,RESIDENCE,False,False,18.0,06,2004.0,41.902862,-87.636098
9,9,4680124,2003-01-01 00:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,11.0,06,2003.0,41.869772,-87.708180
10,10,4682244,2003-06-05 00:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,22.0,06,2003.0,41.724330,-87.638434
11,11,4795453,2004-11-01 00:01:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,20.0,06,2004.0,41.978504,-87.671868
12,12,4684808,2003-01-01 00:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,8.0,06,2003.0,41.783164,-87.727773
13,13,4800321,2004-11-01 00:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4.0,06,2004.0,41.734106,-87.563621
14,14,4686904,2003-11-01 08:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,9.0,06,2003.0,41.831494,-87.667977
15,15,4687321,2003-11-15 09:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,APARTMENT,False,False,8.0,06,2003.0,41.778921,-87.706365
16,16,4688004,2003-01-02 08:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,14.0,06,2003.0,41.911825,-87.715753
17,17,4803028,2001-01-01 00:00:00,1753,OFFENSE INVOLVING CHILDREN,SEX ASSLT OF CHILD BY FAM MBR,RESIDENCE,True,False,8.0,02,2001.0,41.791519,-87.729099
18,18,4803606,2001-01-01 00:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,9.0,06,2001.0,41.834523,-87.682642
19,19,4808626,2002-06-14 16:00:00,0266,CRIM SEXUAL ASSAULT,PREDATORY,APARTMENT,False,False,14.0,02,2002.0,41.915620,-87.694019
20,20,4809221,2001-06-16 08:00:00,1754,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,RESIDENCE,True,False,7.0,02,2001.0,41.778540,-87.674036
21,21,4809407,2004-01-01 00:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,APARTMENT,False,False,1.0,06,2004.0,41.871889,-87.628916
22,22,4695836,2003-10-31 14:00:00,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,GAS STATION,False,False,7.0,07,2003.0,41.771737,-87.664006
23,23,4696148,2003-01-01 09:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,8.0,06,2003.0,41.745268,-87.699825
24,24,4696401,2003-01-01 00:00:00,0810,THEFT,OVER $500,COMMERCIAL / BUSINESS OFFICE,True,False,16.0,06,2003.0,41.975822,-87.807053
25,25,4811727,2001-06-01 08:00:00,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,RESIDENCE,False,False,15.0,17,2001.0,41.896809,-87.762472
26,26,4699493,2003-01-01 12:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,3.0,06,2003.0,41.766013,-87.582884
27,27,4815217,2004-12-13 13:00:00,1130,DECEPTIVE PRACTICE,FRAUD OR CONFIDENCE GAME,RESIDENCE,False,False,3.0,11,2004.0,41.770891,-87.597182
28,28,4815972,2004-10-06 09:00:00,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,25.0,06,2004.0,41.919054,-87.752178
29,29,4817129,2004-01-12 15:00:00,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,False,6.0,26,2004.0,41.745505,-87.632708
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7941251,7941251,10508639,2016-05-03 22:32:00,051A,ASSAULT,AGGRAVATED: HANDGUN,RESIDENCE,False,False,9.0,04A,2016.0,41.826127,-87.669068
7941252,7941252,10508640,2016-05-03 22:07:00,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,STREET,True,False,11.0,18,2016.0,41.866314,-87.713592
7941253,7941253,10508641,2016-05-03 22:31:00,143A,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,RESIDENCE,False,False,7.0,15,2016.0,41.773412,-87.671339
7941254,7941254,10508642,2016-05-03 22:45:00,051A,ASSAULT,AGGRAVATED: HANDGUN,APARTMENT,False,True,11.0,04A,2016.0,41.872899,-87.694388
7941255,7941255,10508643,2016-05-03 21:00:00,0560,ASSAULT,SIMPLE,RESIDENCE,False,True,6.0,08A,2016.0,41.757177,-87.638417
7941256,7941256,10508644,2016-05-03 19:13:00,0460,BATTERY,SIMPLE,STREET,False,False,6.0,08B,2016.0,41.755617,-87.644170
7941257,7941257,10508646,2016-05-03 19:45:00,0460,BATTERY,SIMPLE,APARTMENT,False,False,6.0,08B,2016.0,41.748742,-87.613651
7941258,7941258,10508647,2016-05-03 20:56:00,0460,BATTERY,SIMPLE,STREET,False,False,3.0,08B,2016.0,41.780194,-87.599166
7941259,7941259,10508648,2016-05-03 22:10:00,0520,ASSAULT,AGGRAVATED:KNIFE/CUTTING INSTR,APARTMENT,True,True,3.0,04A,2016.0,41.762009,-87.572503
7941260,7941260,10508649,2016-05-03 22:15:00,4387,OTHER OFFENSE,VIOLATE ORDER OF PROTECTION,OTHER,False,False,10.0,26,2016.0,41.851489,-87.728513
7941261,7941261,10508650,2016-05-03 17:00:00,031A,ROBBERY,ARMED: HANDGUN,STREET,False,False,6.0,03,2016.0,41.751166,-87.664670
7941262,7941262,10508653,2016-05-03 23:58:00,0520,ASSAULT,AGGRAVATED:KNIFE/CUTTING INSTR,RESIDENTIAL YARD (FRONT/BACK),True,False,14.0,04A,2016.0,41.908427,-87.693623
7941263,7941263,10508656,2016-05-03 15:15:00,1720,OFFENSE INVOLVING CHILDREN,CONTRIBUTE DELINQUENCY OF A CHILD,STREET,False,True,18.0,20,2016.0,41.907378,-87.646092
7941264,7941264,10508658,2016-05-03 23:50:00,4625,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,10.0,26,2016.0,41.856510,-87.705387
7941265,7941265,10508659,2016-05-03 23:38:00,0460,BATTERY,SIMPLE,CHA PARKING LOT/GROUNDS,False,False,9.0,08B,2016.0,41.824178,-87.633775
7941266,7941266,10508661,2016-05-03 20:44:00,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,3.0,04B,2016.0,41.766797,-87.623332
7941267,7941267,10508662,2016-05-03 08:00:00,5001,OTHER OFFENSE,OTHER CRIME INVOLVING PROPERTY,APARTMENT,False,False,2.0,26,2016.0,41.790521,-87.622359
7941268,7941268,10508663,2016-05-03 22:10:00,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,APARTMENT,False,False,8.0,17,2016.0,41.771625,-87.706062
7941269,7941269,10508664,2016-05-03 23:35:00,0560,ASSAULT,SIMPLE,RESIDENCE,True,True,6.0,08A,2016.0,41.742462,-87.649876
7941270,7941270,10508665,2016-05-03 22:15:00,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,True,22.0,14,2016.0,41.720164,-87.657669
7941271,7941271,10508666,2016-05-03 23:30:00,0320,ROBBERY,STRONGARM - NO WEAPON,SIDEWALK,False,False,8.0,03,2016.0,41.796397,-87.723251
7941272,7941272,10508671,2016-05-03 23:50:00,502P,OTHER OFFENSE,FALSE/STOLEN/ALTERED TRP,ALLEY,True,False,4.0,26,2016.0,41.702731,-87.534736
7941273,7941273,10508672,2016-05-03 22:25:00,0460,BATTERY,SIMPLE,SIDEWALK,True,False,8.0,08B,2016.0,41.763522,-87.694225
7941274,7941274,10508675,2016-05-03 23:00:00,0320,ROBBERY,STRONGARM - NO WEAPON,SIDEWALK,False,False,6.0,03,2016.0,41.738711,-87.652203
7941275,7941275,10508678,2016-05-03 23:28:00,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,22.0,04B,2016.0,41.733329,-87.660561
7941276,7941276,10508679,2016-05-03 23:33:00,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,True,10.0,08B,2016.0,41.849222,-87.691556
7941277,7941277,10508680,2016-05-03 23:30:00,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,True,True,7.0,14,2016.0,41.760744,-87.633335
7941278,7941278,10508681,2016-05-03 00:15:00,041A,BATTERY,AGGRAVATED: HANDGUN,SIDEWALK,False,False,8.0,04B,2016.0,41.779235,-87.685207
7941279,7941279,10508690,2016-05-03 21:07:00,0486,BATTERY,DOMESTIC BATTERY SIMPLE,SIDEWALK,False,True,4.0,08B,2016.0,41.745252,-87.552773
7941280,7941280,10508692,2016-05-03 23:38:00,5007,OTHER OFFENSE,OTHER WEAPONS VIOLATION,PARKING LOT/GARAGE(NON.RESID.),True,False,3.0,26,2016.0,41.758309,-87.620658

In [136]:
dataset.describe()

,Unnamed: 0,ID,District,Year,Latitude,Longitude
count,7.941281e+06,7.941281e+06,7.941281e+06,7.941281e+06,7.941281e+06,7.941281e+06
mean,3.970640e+06,5.926071e+06,1.131216e+01,2.007672e+03,4.184150e+01,-8.767201e+01
std,2.292451e+06,2.568290e+06,6.944530e+00,4.064012e+00,9.135010e-02,6.319202e-02
min,0.000000e+00,6.340000e+02,1.000000e+00,2.001000e+03,3.661945e+01,-9.168657e+01
25%,1.985320e+06,3.853210e+06,6.000000e+00,2.005000e+03,4.176862e+01,-8.771409e+01
50%,3.970640e+06,6.165079e+06,1.000000e+01,2.008000e+03,4.185387e+01,-8.766638e+01
75%,5.955960e+06,7.716590e+06,1.700000e+01,2.010000e+03,4.190697e+01,-8.762858e+01
max,7.941280e+06,1.082788e+07,3.100000e+01,2.017000e+03,4.202291e+01,-8.752453e+01

In [139]:
dataset.isnull().sum()

Unnamed: 0                 0
ID                         0
Date                       0
IUCR                       0
Primary Type               0
Description                0
Location Description    1990
Arrest                     0
Domestic                   0
District                   0
FBI Code                   0
Year                       0
Latitude                   0
Longitude                  0
dtype: int64

## Filling in Missing Location Description Values 
* The summary tells us that there are 1990 observations of missing location values 
* We fill these in with 'Unknown' because this will indicate to us that we do not have information but not delete those observations and the corresponding data associated to the observations.

In [140]:
locDescriptionDf = dataset.loc[dataset['Location Description'].isnull()]

In [142]:
locDescriptionDf

,Unnamed: 0,ID,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,FBI Code,Year,Latitude,Longitude
518707,518707,1959008,2002-01-26 16:25:00,2820,OTHER OFFENSE,TELEPHONE THREAT,NaN,False,False,4.0,26,2002.0,41.736054,-87.583335
770238,770238,2279950,2002-08-07 04:00:00,0261,CRIM SEXUAL ASSAULT,AGGRAVATED: HANDGUN,NaN,True,False,4.0,02,2002.0,41.744217,-87.578598
1923399,1923399,10645212,2004-08-17 10:05:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,4.0,11,2004.0,41.734106,-87.563621
3797266,3797266,10530814,2011-12-01 11:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,4.0,11,2011.0,41.734106,-87.563621
3809308,3809308,8281441,2011-09-25 08:50:00,0890,THEFT,FROM BUILDING,NaN,False,False,4.0,06,2011.0,41.734106,-87.563621
3810892,3810892,9862543,2011-11-18 18:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,4.0,11,2011.0,41.734106,-87.563621
4956803,4956803,8281441,2011-09-25 08:50:00,0890,THEFT,FROM BUILDING,NaN,False,False,4.0,06,2011.0,41.734106,-87.563621
4958387,4958387,9862543,2011-11-18 18:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,4.0,11,2011.0,41.734106,-87.563621
6254420,6254420,8076790,2011-05-19 21:00:00,0820,THEFT,$500 AND UNDER,NaN,False,False,4.0,06,2011.0,41.701996,-87.530450
6483015,6483015,10428831,2011-04-01 21:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,4.0,11,2011.0,41.734106,-87.563621
6484255,6484255,10648347,2011-03-21 21:31:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,4.0,11,2011.0,41.734106,-87.563621
6486497,6486497,10512796,2016-05-06 09:45:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,4.0,11,2016.0,41.742589,-87.548984
6490386,6490386,10520073,2016-05-10 10:45:00,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,NaN,False,False,4.0,11,2016.0,41.734106,-87.563621
6512937,6512937,9887465,2013-01-10 02:45:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,4.0,11,2013.0,41.734106,-87.563621
6561460,6561460,10236194,2014-10-06 16:47:00,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,NaN,False,False,4.0,11,2014.0,41.734106,-87.563621
6586549,6586549,8465780,2012-02-01 06:25:00,0820,THEFT,$500 AND UNDER,NaN,False,False,4.0,06,2012.0,41.725891,-87.548392
6752428,6752428,8728358,2012-07-27 16:40:00,0820,THEFT,$500 AND UNDER,NaN,False,False,4.0,06,2012.0,41.744274,-87.580129
6798674,6798674,8802908,2012-09-13 07:25:00,0820,THEFT,$500 AND UNDER,NaN,False,False,4.0,06,2012.0,41.694315,-87.530487
7198267,7198267,9449747,2013-12-13 10:20:00,0820,THEFT,$500 AND UNDER,NaN,False,False,4.0,06,2013.0,41.694653,-87.536491
7402420,7402420,9801254,2014-06-01 10:40:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,4.0,11,2014.0,41.734268,-87.588075
7412588,7412588,9818578,2014-10-14 13:40:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,4.0,11,2014.0,41.746172,-87.574203
7562797,7562797,10163757,2015-07-20 19:00:00,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,NaN,False,False,4.0,11,2015.0,41.742087,-87.561225
7582466,7582466,10198252,2015-08-03 10:15:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,4.0,11,2015.0,41.732316,-87.588035
7651915,7651915,10318995,2015-10-26 11:10:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,4.0,11,2015.0,41.737915,-87.594936
7689513,7689513,10382707,2015-12-22 17:05:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,4.0,11,2015.0,41.740866,-87.563244
7695516,7695516,10449350,2016-03-04 14:30:00,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,NaN,False,False,4.0,11,2016.0,41.734106,-87.563621
7699004,7699004,10389202,2016-01-16 14:00:00,0610,BURGLARY,FORCIBLE ENTRY,NaN,False,False,4.0,05,2016.0,41.749333,-87.558914
7713787,7713787,10428873,2016-02-26 10:10:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,4.0,11,2016.0,41.749210,-87.550912
7750737,7750737,10331869,2015-07-13 00:05:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,4.0,11,2015.0,41.720320,-87.561760
7751779,7751779,10394643,2015-12-22 00:01:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,4.0,11,2015.0,41.734474,-87.558279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7764531,7764531,10552670,2016-05-29 00:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2016.0,41.954533,-87.703147
7766193,7766193,10555521,2015-01-05 10:50:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2015.0,41.960077,-87.720694
7773024,7773024,10565895,2016-06-05 15:50:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2016.0,41.968235,-87.728715
7774442,7774442,10565861,2016-06-14 08:39:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2016.0,41.960556,-87.713125
7782709,7782709,10581203,2014-06-02 12:05:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2014.0,41.960077,-87.720694
7785593,7785593,10582505,2016-06-27 12:25:00,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,NaN,False,False,17.0,11,2016.0,41.949337,-87.720137
7786278,7786278,10581204,2016-06-28 19:20:00,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,NaN,False,False,17.0,11,2016.0,41.963581,-87.704653
7793921,7793921,10596491,2016-06-16 13:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2016.0,41.960077,-87.720694
7801970,7801970,10605399,2016-07-08 14:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2016.0,41.980034,-87.710005
7811785,7811785,10625982,2015-08-01 16:20:00,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,NaN,False,False,17.0,11,2015.0,41.960077,-87.720694
7820105,7820105,10632700,2016-08-08 15:35:00,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,NaN,False,False,17.0,11,2016.0,41.981720,-87.713696
7822451,7822451,10639150,2016-08-11 13:35:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2016.0,41.983553,-87.713773
7825266,7825266,10646671,2016-08-16 01:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2016.0,41.939567,-87.724623
7827295,7827295,10648357,2016-08-19 13:30:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2016.0,41.963215,-87.698524
7832020,7832020,10663198,2016-08-18 09:40:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2016.0,41.967316,-87.713331
7848965,7848965,10684975,2016-09-14 20:25:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2016.0,41.963596,-87.727902
7849865,7849865,10686941,2016-09-15 15:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2016.0,41.961592,-87.724175
7853450,7853450,10688316,2016-09-20 09:50:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2016.0,41.940791,-87.697868
7866781,7866781,10708479,2016-10-07 15:20:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2016.0,41.961733,-87.703374
7879369,7879369,10734884,2016-05-18 16:35:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2016.0,41.960077,-87.720694
7882568,7882568,10733864,2016-10-27 14:25:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2016.0,41.943542,-87.735932
7883326,7883326,10734867,2016-10-28 08:50:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2016.0,41.953853,-87.713208
7884268,7884268,10738651,2016-10-29 02:47:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2016.0,41.943492,-87.721197
7888221,7888221,10742633,2016-11-03 16:50:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2016.0,41.960077,-87.720694
7895830,7895830,10756588,2016-11-05 08:35:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2016.0,41.952225,-87.738020
7897073,7897073,10755488,2016-11-15 11:00:00,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,NaN,False,False,17.0,11,2016.0,41.939567,-87.724623
7919249,7919249,10790444,2016-12-18 10:36:00,1152,DECEPTIVE PRACTICE,ILLEGAL USE CASH CARD,NaN,False,False,17.0,11,2016.0,41.960077,-87.720694
7919375,7919375,10790433,2016-12-12 08:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2016.0,41.968193,-87.732234
7920701,7920701,10791713,2016-12-20 12:50:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,17.0,11,2016.0,41.992695,-87.712842
7922145,7922145,10796227,2016-12-22 19:00:00,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,NaN,False,False,17.0,11,2016.0,41.993790,-87.712902

There are no unique identifiers that could help us what the data in 'Location Description' should be

In [148]:
dataset['Location Description'].unique()

array(['RESIDENCE', 'BANK', 'APARTMENT', 'STREET',
       'CHURCH/SYNAGOGUE/PLACE OF WORSHIP', 'COMMERCIAL / BUSINESS OFFICE',
       'SMALL RETAIL STORE', 'HOSPITAL BUILDING/GROUNDS', 'OTHER',
       'CURRENCY EXCHANGE', 'RESIDENTIAL YARD (FRONT/BACK)', 'RESTAURANT',
       'PORCH', 'VESTIBULE', 'YARD', 'AUTO', 'VACANT LOT', 'PARKING LOT',
       'PARKING LOT/GARAGE(NON.RESID.)', 'GROCERY FOOD STORE',
       'DEPARTMENT STORE', 'TAVERN/LIQUOR STORE',
       'SCHOOL, PUBLIC, BUILDING', 'DRUG STORE', 'RESIDENCE-GARAGE',
       'VEHICLE NON-COMMERCIAL', 'CTA BUS',
       'POLICE FACILITY/VEH PARKING LOT', 'CHA PARKING LOT/GROUNDS',
       'CHA APARTMENT', 'SCHOOL, PUBLIC, GROUNDS',
       'GOVERNMENT BUILDING/PROPERTY', 'SIDEWALK', 'VACANT LOT/LAND',
       'CONSTRUCTION SITE', 'FACTORY/MANUFACTURING BUILDING',
       'BOAT/WATERCRAFT', 'LAKEFRONT/WATERFRONT/RIVERBANK', 'ALLEY',
       'BASEMENT', 'GANGWAY', 'BOWLING ALLEY',
       'OTHER COMMERCIAL TRANSPORTATION', 'RESIDENCE PORCH/HALLWAY',
       'HOTEL/MOTEL', 'ATHLETIC CLUB', 'GAS STATION',
       'CHA HALLWAY/STAIRWELL/ELEVATOR', 'CAR WASH', 'BAR OR TAVERN',
       'SPORTS ARENA/STADIUM', 'CLEANING STORE',
       'SCHOOL, PRIVATE, BUILDING', 'LIBRARY',
       'NURSING HOME/RETIREMENT HOME', 'DRIVEWAY - RESIDENTIAL',
       'MEDICAL/DENTAL OFFICE', 'OTHER RAILROAD PROP / TRAIN DEPOT',
       'HIGHWAY/EXPRESSWAY', 'SCHOOL, PRIVATE, GROUNDS', 'PARK PROPERTY',
       'VEHICLE-COMMERCIAL', 'FOREST PRESERVE', 'DELIVERY TRUCK',
       'ABANDONED BUILDING', 'SAVINGS AND LOAN', 'TAXICAB', 'BARBERSHOP',
       'WAREHOUSE', 'DAY CARE CENTER', 'WOODED AREA', 'DRIVEWAY',
       'APPLIANCE STORE', 'MOVIE HOUSE/THEATER', 'HOUSE', 'FIRE STATION',
       'COIN OPERATED MACHINE', 'FEDERAL BUILDING', 'CTA PLATFORM',
       'JUNK YARD/GARBAGE DUMP', 'NEWSSTAND', 'COLLEGE/UNIVERSITY GROUNDS',
       'GAS STATION DRIVE/PROP.', 'BRIDGE', nan, 'PRAIRIE', 'CTA TRAIN',
       'CTA GARAGE / OTHER PROPERTY', 'RETAIL STORE', 'TRAILER',
       'ANIMAL HOSPITAL', 'COLLEGE/UNIVERSITY RESIDENCE HALL', 'HALLWAY',
       'CONVENIENCE STORE', 'ATM (AUTOMATIC TELLER MACHINE)',
       'JAIL / LOCK-UP FACILITY', 'PAWN SHOP', 'CREDIT UNION', 'POOL ROOM',
       'LIVERY AUTO', 'TAVERN', 'GARAGE', 'BARBER SHOP/BEAUTY SALON',
       'HOTEL', 'CTA BUS STOP', 'RIVER', 'VEHICLE - OTHER RIDE SERVICE',
       'AIRPORT VENDING ESTABLISHMENT', 'VEHICLE - DELIVERY TRUCK',
       'RAILROAD PROPERTY', 'AIRPORT TRANSPORTATION SYSTEM (ATS)',
       'PUBLIC HIGH SCHOOL', 'CHA PARKING LOT', 'NURSING HOME',
       'COACH HOUSE', 'CHA GROUNDS', 'DUMPSTER', 'OFFICE',
       'AIRPORT/AIRCRAFT', 'FACTORY', 'TAXI CAB', 'CTA PROPERTY',
       'RIVER BANK', 'CTA STATION', 'AIRCRAFT', 'CTA "L" TRAIN', 'LAGOON',
       'CLUB', 'AIRPORT PARKING LOT',
       'AIRPORT BUILDING NON-TERMINAL - NON-SECURE AREA',
       'GARAGE/AUTO REPAIR', 'STAIRWELL', 'FUNERAL PARLOR', 'LIQUOR STORE',
       'YMCA', 'SCHOOL YARD', 'CEMETARY', 'SEWER',
       'AIRPORT BUILDING NON-TERMINAL - SECURE AREA', 'COUNTY JAIL',
       'HOSPITAL', 'TRUCK', 'AIRPORT EXTERIOR - SECURE AREA',
       'LAUNDRY ROOM', 'CHA PLAY LOT', 'CTA TRACKS - RIGHT OF WAY', 'LAKE',
       'CHA HALLWAY', 'CHA ELEVATOR', 'CHA STAIRWELL', 'CHA LOBBY',
       'AIRPORT TERMINAL UPPER LEVEL - NON-SECURE AREA',
       'LIVERY STAND OFFICE', 'CHURCH', 'ROOMING HOUSE',
       'AIRPORT TERMINAL UPPER LEVEL - SECURE AREA', 'POOLROOM', 'MOTEL',
       'AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA',
       'AIRPORT EXTERIOR - NON-SECURE AREA',
       'AIRPORT TERMINAL LOWER LEVEL - SECURE AREA',
       'AIRPORT TERMINAL MEZZANINE - NON-SECURE AREA', 'CHA BREEZEWAY',
       'CTA "L" PLATFORM', 'GOVERNMENT BUILDING', 'BANQUET HALL',
       'CLEANERS/LAUNDROMAT', 'PUBLIC GRAMMAR SCHOOL', 'CHURCH PROPERTY',
       'TRUCKING TERMINAL', 'EXPRESSWAY EMBANKMENT', 'LOADING DOCK',
       'ELEVATOR'], dtype=object)

There is no identifier for 'unknown' locations so we will create one with UNKNOWN and fill missing values with it

In [149]:
dataset['Location Description'].fillna('UNKNOWN', inplace = True)

In [150]:
dataset.isnull().sum()

Unnamed: 0              0
ID                      0
Date                    0
IUCR                    0
Primary Type            0
Description             0
Location Description    0
Arrest                  0
Domestic                0
District                0
FBI Code                0
Year                    0
Latitude                0
Longitude               0
dtype: int64

## Export New Dataset with No Missing Values

In [160]:
dataset = dataset.sort_index()

In [162]:
dataset.to_csv("../../crimesInChicagoData/dataset.csv")

In [163]:
cleanData = pd.read_csv("../../crimesInChicagoData/dataset.csv")

In [164]:
cleanData

,Unnamed: 0,Unnamed: 0.1,ID,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,FBI Code,Year,Latitude,Longitude
0,0,0,4786321,2004-01-01 00:01:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4.0,06,2004.0,41.734106,-87.563621
1,1,1,4676906,2003-03-01 00:00:00,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,9.0,26,2003.0,41.817229,-87.637328
2,2,2,4789749,2004-06-20 11:00:00,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,14.0,20,2004.0,41.915620,-87.694019
3,3,3,4789765,2004-12-30 20:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,25.0,06,2004.0,41.919054,-87.752178
4,4,4,4677901,2003-05-01 01:00:00,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,22.0,06,2003.0,41.691785,-87.635116
5,5,5,4838048,2004-08-01 00:01:00,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,APARTMENT,False,False,10.0,06,2004.0,41.853447,-87.712625
6,6,6,4791194,2001-01-01 11:00:00,0266,CRIM SEXUAL ASSAULT,PREDATORY,RESIDENCE,True,True,5.0,02,2001.0,41.687020,-87.608445
7,7,7,4679521,2003-03-15 00:00:00,5007,OTHER OFFENSE,OTHER WEAPONS VIOLATION,RESIDENCE PORCH/HALLWAY,False,False,22.0,26,2003.0,41.729712,-87.653159
8,8,8,4792195,2004-09-16 10:00:00,0890,THEFT,FROM BUILDING,RESIDENCE,False,False,18.0,06,2004.0,41.902862,-87.636098
9,9,9,4680124,2003-01-01 00:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,11.0,06,2003.0,41.869772,-87.708180
10,10,10,4682244,2003-06-05 00:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,22.0,06,2003.0,41.724330,-87.638434
11,11,11,4795453,2004-11-01 00:01:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,20.0,06,2004.0,41.978504,-87.671868
12,12,12,4684808,2003-01-01 00:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,8.0,06,2003.0,41.783164,-87.727773
13,13,13,4800321,2004-11-01 00:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4.0,06,2004.0,41.734106,-87.563621
14,14,14,4686904,2003-11-01 08:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,9.0,06,2003.0,41.831494,-87.667977
15,15,15,4687321,2003-11-15 09:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,APARTMENT,False,False,8.0,06,2003.0,41.778921,-87.706365
16,16,16,4688004,2003-01-02 08:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,14.0,06,2003.0,41.911825,-87.715753
17,17,17,4803028,2001-01-01 00:00:00,1753,OFFENSE INVOLVING CHILDREN,SEX ASSLT OF CHILD BY FAM MBR,RESIDENCE,True,False,8.0,02,2001.0,41.791519,-87.729099
18,18,18,4803606,2001-01-01 00:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,9.0,06,2001.0,41.834523,-87.682642
19,19,19,4808626,2002-06-14 16:00:00,0266,CRIM SEXUAL ASSAULT,PREDATORY,APARTMENT,False,False,14.0,02,2002.0,41.915620,-87.694019
20,20,20,4809221,2001-06-16 08:00:00,1754,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,RESIDENCE,True,False,7.0,02,2001.0,41.778540,-87.674036
21,21,21,4809407,2004-01-01 00:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,APARTMENT,False,False,1.0,06,2004.0,41.871889,-87.628916
22,22,22,4695836,2003-10-31 14:00:00,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,GAS STATION,False,False,7.0,07,2003.0,41.771737,-87.664006
23,23,23,4696148,2003-01-01 09:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,8.0,06,2003.0,41.745268,-87.699825
24,24,24,4696401,2003-01-01 00:00:00,0810,THEFT,OVER $500,COMMERCIAL / BUSINESS OFFICE,True,False,16.0,06,2003.0,41.975822,-87.807053
25,25,25,4811727,2001-06-01 08:00:00,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,RESIDENCE,False,False,15.0,17,2001.0,41.896809,-87.762472
26,26,26,4699493,2003-01-01 12:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,3.0,06,2003.0,41.766013,-87.582884
27,27,27,4815217,2004-12-13 13:00:00,1130,DECEPTIVE PRACTICE,FRAUD OR CONFIDENCE GAME,RESIDENCE,False,False,3.0,11,2004.0,41.770891,-87.597182
28,28,28,4815972,2004-10-06 09:00:00,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,25.0,06,2004.0,41.919054,-87.752178
29,29,29,4817129,2004-01-12 15:00:00,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,False,6.0,26,2004.0,41.745505,-87.632708
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7941251,7941251,7941251,10508639,2016-05-03 22:32:00,051A,ASSAULT,AGGRAVATED: HANDGUN,RESIDENCE,False,False,9.0,04A,2016.0,41.826127,-87.669068
7941252,7941252,7941252,10508640,2016-05-03 22:07:00,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,STREET,True,False,11.0,18,2016.0,41.866314,-87.713592
7941253,7941253,7941253,10508641,2016-05-03 22:31:00,143A,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,RESIDENCE,False,False,7.0,15,2016.0,41.773412,-87.671339
7941254,7941254,7941254,10508642,2016-05-03 22:45:00,051A,ASSAULT,AGGRAVATED: HANDGUN,APARTMENT,False,True,11.0,04A,2016.0,41.872899,-87.694388
7941255,7941255,7941255,10508643,2016-05-03 21:00:00,0560,ASSAULT,SIMPLE,RESIDENCE,False,True,6.0,08A,2016.0,41.757177,-87.638417
7941256,7941256,7941256,10508644,2016-05-03 19:13:00,0460,BATTERY,SIMPLE,STREET,False,False,6.0,08B,2016.0,41.755617,-87.644170
7941257,7941257,7941257,10508646,2016-05-03 19:45:00,0460,BATTERY,SIMPLE,APARTMENT,False,False,6.0,08B,2016.0,41.748742,-87.613651
7941258,7941258,7941258,10508647,2016-05-03 20:56:00,0460,BATTERY,SIMPLE,STREET,False,False,3.0,08B,2016.0,41.780194,-87.599166
7941259,7941259,7941259,10508648,2016-05-03 22:10:00,0520,ASSAULT,AGGRAVATED:KNIFE/CUTTING INSTR,APARTMENT,True,True,3.0,04A,2016.0,41.762009,-87.572503
7941260,7941260,7941260,10508649,2016-05-03 22:15:00,4387,OTHER OFFENSE,VIOLATE ORDER OF PROTECTION,OTHER,False,False,10.0,26,2016.0,41.851489,-87.728513
7941261,7941261,7941261,10508650,2016-05-03 17:00:00,031A,ROBBERY,ARMED: HANDGUN,STREET,False,False,6.0,03,2016.0,41.751166,-87.664670
7941262,7941262,7941262,10508653,2016-05-03 23:58:00,0520,ASSAULT,AGGRAVATED:KNIFE/CUTTING INSTR,RESIDENTIAL YARD (FRONT/BACK),True,False,14.0,04A,2016.0,41.908427,-87.693623
7941263,7941263,7941263,10508656,2016-05-03 15:15:00,1720,OFFENSE INVOLVING CHILDREN,CONTRIBUTE DELINQUENCY OF A CHILD,STREET,False,True,18.0,20,2016.0,41.907378,-87.646092
7941264,7941264,7941264,10508658,2016-05-03 23:50:00,4625,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,10.0,26,2016.0,41.856510,-87.705387
7941265,7941265,7941265,10508659,2016-05-03 23:38:00,0460,BATTERY,SIMPLE,CHA PARKING LOT/GROUNDS,False,False,9.0,08B,2016.0,41.824178,-87.633775
7941266,7941266,7941266,10508661,2016-05-03 20:44:00,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,3.0,04B,2016.0,41.766797,-87.623332
7941267,7941267,7941267,10508662,2016-05-03 08:00:00,5001,OTHER OFFENSE,OTHER CRIME INVOLVING PROPERTY,APARTMENT,False,False,2.0,26,2016.0,41.790521,-87.622359
7941268,7941268,7941268,10508663,2016-05-03 22:10:00,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,APARTMENT,False,False,8.0,17,2016.0,41.771625,-87.706062
7941269,7941269,7941269,10508664,2016-05-03 23:35:00,0560,ASSAULT,SIMPLE,RESIDENCE,True,True,6.0,08A,2016.0,41.742462,-87.649876
7941270,7941270,7941270,10508665,2016-05-03 22:15:00,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,True,22.0,14,2016.0,41.720164,-87.657669
7941271,7941271,7941271,10508666,2016-05-03 23:30:00,0320,ROBBERY,STRONGARM - NO WEAPON,SIDEWALK,False,False,8.0,03,2016.0,41.796397,-87.723251
7941272,7941272,7941272,10508671,2016-05-03 23:50:00,502P,OTHER OFFENSE,FALSE/STOLEN/ALTERED TRP,ALLEY,True,False,4.0,26,2016.0,41.702731,-87.534736
7941273,7941273,7941273,10508672,2016-05-03 22:25:00,0460,BATTERY,SIMPLE,SIDEWALK,True,False,8.0,08B,2016.0,41.763522,-87.694225
7941274,7941274,7941274,10508675,2016-05-03 23:00:00,0320,ROBBERY,STRONGARM - NO WEAPON,SIDEWALK,False,False,6.0,03,2016.0,41.738711,-87.652203
7941275,7941275,7941275,10508678,2016-05-03 23:28:00,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,22.0,04B,2016.0,41.733329,-87.660561
7941276,7941276,7941276,10508679,2016-05-03 23:33:00,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,True,10.0,08B,2016.0,41.849222,-87.691556
7941277,7941277,7941277,10508680,2016-05-03 23:30:00,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,True,True,7.0,14,2016.0,41.760744,-87.633335
7941278,7941278,7941278,10508681,2016-05-03 00:15:00,041A,BATTERY,AGGRAVATED: HANDGUN,SIDEWALK,False,False,8.0,04B,2016.0,41.779235,-87.685207
7941279,7941279,7941279,10508690,2016-05-03 21:07:00,0486,BATTERY,DOMESTIC BATTERY SIMPLE,SIDEWALK,False,True,4.0,08B,2016.0,41.745252,-87.552773
7941280,7941280,7941280,10508692,2016-05-03 23:38:00,5007,OTHER OFFENSE,OTHER WEAPONS VIOLATION,PARKING LOT/GARAGE(NON.RESID.),True,False,3.0,26,2016.0,41.758309,-87.620658