In [2]:
import numpy as np  
import pandas as pd 
import math
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D


from sklearn import decomposition
from sklearn import datasets
%matplotlib inline

In [3]:
dataset = pd.read_csv("../../crimesInChicagoData/clusterData.csv")

In [6]:
dataset = dataset.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis = 1)

In [8]:
dataset.head()

,ID,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,FBI Code,Year,Latitude,Longitude
0,4786321,2004-01-01 00:01:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4.0,06,2004.0,41.734106,-87.563621
1,4676906,2003-03-01 00:00:00,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,9.0,26,2003.0,41.817229,-87.637328
2,4789749,2004-06-20 11:00:00,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,14.0,20,2004.0,41.915620,-87.694019
3,4789765,2004-12-30 20:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,25.0,06,2004.0,41.919054,-87.752178
4,4677901,2003-05-01 01:00:00,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,22.0,06,2003.0,41.691785,-87.635116

In [18]:
def changeToDateTime(df, columnName, timeFormat): 
    df[columnName] = pd.to_datetime(df[columnName], format = timeFormat)

In [19]:
changeToDateTime(dataset, 'Date', '%Y-%m-%d %H:%M:%S')

In [22]:
days = dataset['Date'].apply(lambda x: x.day)

In [23]:
hours = dataset['Date'].apply(lambda x: x.hour)

In [24]:
months = dataset['Date'].apply(lambda x: x.month)

In [25]:
hoursDf = pd.DataFrame({'Hours': hours})
monthsDf = pd.DataFrame({'Months': months})
daysDf = pd.DataFrame({'Days': days})

In [33]:
dataset = pd.concat([dataset, monthsDf, hoursDf, daysDf], axis = 1)

In [34]:
dataset = dataset.drop(['Date'], axis = 1)

In [43]:
hoursRawList = sorted(dataset['Hours'].unique())
hoursRawList

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23]

In [45]:
hoursNames = ['12:00AM', '1:00AM', '2:00AM', '3:00AM', '4:00AM', '5:00AM', '6:00AM', '7:00AM',
        '8:00AM', '9:00AM', '10:00AM', '11:00AM', '12:00PM', '1:00PM', '2:00PM', '3:00PM',
        '4:00PM', '5:00PM', '6:00PM', '7:00PM', '8:00PM', '9:00PM', '10:00PM', '11:00PM']

In [44]:
monthsRawList = sorted(dataset['Months'].unique())
monthsRawList

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [46]:
monthNames =['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 
        'NOV', 'DEC']

In [47]:
dataset['Hours'] = dataset['Hours'].replace(hoursRawList, hoursNames)

In [48]:
dataset['Months'] = dataset['Months'].replace(monthsRawList, monthNames)

In [50]:
dataset['Days']=dataset['Days'].apply(lambda x:str(x))

In [53]:
dataset.head()

,ID,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,FBI Code,Year,Latitude,Longitude,Months,Hours,Days
0,4786321,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4.0,06,2004.0,41.734106,-87.563621,JAN,12:00AM,1
1,4676906,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,9.0,26,2003.0,41.817229,-87.637328,MAR,12:00AM,1
2,4789749,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,14.0,20,2004.0,41.915620,-87.694019,JUN,11:00AM,20
3,4789765,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,25.0,06,2004.0,41.919054,-87.752178,DEC,8:00PM,30
4,4677901,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,22.0,06,2003.0,41.691785,-87.635116,MAY,1:00AM,1