In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 
#hello
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from subprocess import check_output
print(check_output(["ls", "../input"]).decode("utf8"))

# Any results you write to the current directory are saved as output.

Chicago_Crimes_2001_to_2004.csv
Chicago_Crimes_2005_to_2007.csv
Chicago_Crimes_2008_to_2011.csv
Chicago_Crimes_2012_to_2017.csv

In [2]:
df1 = pd.read_csv("../input/Chicago_Crimes_2001_to_2004.csv", error_bad_lines = False)

b'Skipping line 1513591: expected 23 fields, saw 24\n'
/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (17,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df1.describe().cou

In [3]:
df1.head()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,879,4786321,HM399414,01/01/2004 12:01:00 AM,082XX S COLES AVE,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,...,7.0,46.0,06,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
1,2544,4676906,HM278933,03/01/2003 12:00:00 AM,004XX W 42ND PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,...,11.0,61.0,26,1173974.0,1.87676e+06,2003.0,04/15/2016 08:55:02 AM,41.8172,-87.637328,"(41.817229156, -87.637328162)"
2,2919,4789749,HM402220,06/20/2004 11:00:00 AM,025XX N KIMBALL AVE,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,...,35.0,22.0,20,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
3,2927,4789765,HM402058,12/30/2004 08:00:00 PM,045XX W MONTANA ST,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,...,31.0,20.0,06,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
4,3302,4677901,HM275615,05/01/2003 01:00:00 AM,111XX S NORMAL AVE,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,...,34.0,49.0,06,1174948.0,1.83105e+06,2003.0,04/15/2016 08:55:02 AM,41.6918,-87.635116,"(41.691784636, -87.635115968)"

In [14]:
for column in df1.columns:
    print("Column name: " + column )
    numNas = df1[column].isnull().sum()
    numObservations = len(df1[column])
    missingDataPercentage = numNas/numObservations *100
    print(missingDataPercentage)

Column name: Unnamed: 0
0.0
Column name: ID
0.0
Column name: Case Number
0.0
Column name: Date
0.0
Column name: Block
0.0
Column name: IUCR
0.0
Column name: Primary Type
0.0
Column name: Description
0.0
Column name: Location Description
0.000831810513565
Column name: Arrest
0.0
Column name: Domestic
0.0
Column name: Beat
0.0
Column name: District
0.000103976314196
Column name: Ward
36.3985724052
Column name: Community Area
36.4045510433
Column name: FBI Code
0.0
Column name: X Coordinate
1.59556852949
Column name: Y Coordinate
1.59556852949
Column name: Year
0.0
Column name: Updated On
0.0
Column name: Latitude
1.59556852949
Column name: Longitude
1.59562051765
Column name: Location
1.59562051765