# Exploration & Wrangling Data of the Crimes in Chicago Dataset 

* The data is extracted from: https://www.kaggle.com/currie32/crimes-in-chicago/data

## Importing Basic Packages 
These packages help us rearrange our data into a dataframe format easily

In [1]:
import numpy as np  
import pandas as pd 
import math

## Import 4 Datasets 

These 4 datasets are the ones downloaded from Kaggle. They should be in the crimesInChicagoData folder.

In [2]:
df1 = pd.read_csv("../../crimesInChicagoData/Chicago_Crimes_2001_to_2004.csv", error_bad_lines = False)

b'Skipping line 1513591: expected 23 fields, saw 24\n'
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (17,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df2 = pd.read_csv("../../crimesInChicagoData/Chicago_Crimes_2005_to_2007.csv", error_bad_lines = False)

b'Skipping line 533719: expected 23 fields, saw 24\n'

In [4]:
df3 = pd.read_csv("../../crimesInChicagoData/Chicago_Crimes_2008_to_2011.csv", error_bad_lines = False)

b'Skipping line 1149094: expected 23 fields, saw 41\n'

In [5]:
df4 = pd.read_csv("../../crimesInChicagoData/Chicago_Crimes_2012_to_2017.csv", error_bad_lines = False)

## Analyze  Missing Data 
Seeing how much data is missing per column of each of the 4 dataframes to get an understanding of how much missing data we have.

In [6]:
'''Takes in a dataframe and returns a dataframe with percentages of missing data of each column
'''
def missingDataSummary(df):
    dfInitial = pd.DataFrame(index = [df.name], columns =df.columns)
    for column in df.columns:
        #print("Column name: " + column )
        numNas = df[column].isnull().sum()
        numObservations = len(df[column])
        missingDataPercentage = numNas/numObservations *100
        dfInitial[column][0] = missingDataPercentage
        #print(str(missingDataPercentage) + "% missing") 
    return dfInitial

In [7]:
#set the names of the dataframes for convenience 
df1.name = 'df1'
df2.name = 'df2'
df3.name = 'df3'
df4.name = 'df4'

In [8]:
#retrieve info on missing data for each data frame 
df1_missingSummary = missingDataSummary(df1)
df2_missingSummary  = missingDataSummary(df2)
df3_missingSummary = missingDataSummary(df3)
df4_missingSummary = missingDataSummary(df4)

#concatenate missingData summary info into one
df_missingSummaries = pd.concat([df1_missingSummary, df2_missingSummary, df3_missingSummary, df4_missingSummary], axis = 0)

#display all the missing data summary
pd.set_option('display.max_columns', None)
df_missingSummaries

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
df1,0,0,0,0,0,0,0,0,0.000831811,0,0,0,0.000103976,36.3986,36.4046,0,1.59557,1.59557,0,0,1.59557,1.59562,1.59562
df2,0,0,0,0,0,0,0,0,0.00133523,0,0,0,0.000267045,0.000801135,0.0186397,0,0.488906,0.488906,0,0,0.488906,0.488906,0.488906
df3,0,0,0.000223155,0,0,0,0,0,0.010823,0,0,0,0.00308698,0.00234313,0.0541152,0,1.06538,1.06538,0,0,1.06538,1.06538,1.06538
df4,0,0,6.86477e-05,0,0,0,0,0,0.113818,0,0,0,6.86477e-05,0.000961067,0.00274591,0,2.54566,2.54566,0,0,2.54566,2.54566,2.54566

## Combine Four Datasets into One
Concatenate 4 data sets to make one total data set form years range 2001-2017

In [9]:
dfTotal = pd.concat([df1, df2, df3, df4], axis = 0)

Checking if the concatenation indeed happened:

In [10]:
print("Are the number of columns maintained?")
print(len(df1.columns) == len(df2.columns) ==  len(df3.columns) == len(df4.columns) == len(dfTotal.columns))

print("Are the number of observations of all data sets equal to the dfTotal")
print(len(df1['ID']) + len(df2['ID']) + len(df3['ID']) + len(df4['ID']) == len(dfTotal['ID']))

dfTotal.columns

Are the number of columns maintained?
True
Are the number of observations of all data sets equal to the dfTotal
True

Index(['Unnamed: 0', 'ID', 'Case Number', 'Date', 'Block', 'IUCR',
       'Primary Type', 'Description', 'Location Description', 'Arrest',
       'Domestic', 'Beat', 'District', 'Ward', 'Community Area', 'FBI Code',
       'X Coordinate', 'Y Coordinate', 'Year', 'Updated On', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')

In [11]:
dfTotal.head()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,879,4786321,HM399414,01/01/2004 12:01:00 AM,082XX S COLES AVE,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,424,4.0,7.0,46.0,06,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
1,2544,4676906,HM278933,03/01/2003 12:00:00 AM,004XX W 42ND PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,935,9.0,11.0,61.0,26,1173974.0,1.87676e+06,2003.0,04/15/2016 08:55:02 AM,41.8172,-87.637328,"(41.817229156, -87.637328162)"
2,2919,4789749,HM402220,06/20/2004 11:00:00 AM,025XX N KIMBALL AVE,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,1413,14.0,35.0,22.0,20,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
3,2927,4789765,HM402058,12/30/2004 08:00:00 PM,045XX W MONTANA ST,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,2521,25.0,31.0,20.0,06,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
4,3302,4677901,HM275615,05/01/2003 01:00:00 AM,111XX S NORMAL AVE,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,2233,22.0,34.0,49.0,06,1174948.0,1.83105e+06,2003.0,04/15/2016 08:55:02 AM,41.6918,-87.635116,"(41.691784636, -87.635115968)"

## Conversion of Time Data 
* We converted the 'Date' data type to a Time Series for easy sorting in pandas df. This sorting mechanism allows us to explore the data easily. 
* We also converted the format of the time. We got rid of AM & PM designations and made the hours from a 12-hour clock to a 24-hour clock. This was in part so that we could look at the data by hours more easily.

In [17]:
dfTotal.sort_values(by='Year').head(20)

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
1602847,3629582,1423259,G139165,03/10/2001 11:30:00 PM,035XX S FEDERAL ST,1340,CRIMINAL DAMAGE,TO STATE SUP PROP,CHA PARKING LOT/GROUNDS,True,False,211,2.0,NaN,NaN,14,1176246.0,18 08:55:02 AM,41.789832,-87.672973835,"(41.789832136, -87.672973835)",NaN,NaN
386540,3926865,1797113,G623639,10/17/2001 06:00:00 AM,007XX S COLUMBUS DR,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,133,1.0,NaN,NaN,14,1178327.0,1.89717e+06,2001.000000,08/17/2015 03:03:40 PM,41.8731,-87.620739,"(41.873145996, -87.620738983)"
382057,3922382,1791530,G615404,10/13/2001 01:30:00 AM,013XX W MONTROSE AV,0820,THEFT,$500 AND UNDER,STREET,False,False,2311,19.0,NaN,NaN,06,1166189.0,1.92937e+06,2001.000000,08/17/2015 03:03:40 PM,41.9618,-87.664381,"(41.961764391, -87.664381098)"
382058,3922383,1791531,G614237,10/12/2001 10:03:49 PM,001XX N LOTUS AV,0460,BATTERY,SIMPLE,SIDEWALK,False,True,1523,15.0,NaN,NaN,08B,1139885.0,1.9006e+06,2001.000000,08/17/2015 03:03:40 PM,41.8833,-87.761795,"(41.883333676, -87.761795484)"
382059,3922384,1791532,G614502,10/13/2001 12:55:00 AM,007XX N PINE AV,0460,BATTERY,SIMPLE,ALLEY,False,True,1524,15.0,NaN,NaN,08B,1139428.0,1.90442e+06,2001.000000,08/17/2015 03:03:40 PM,41.8938,-87.763380,"(41.893846529, -87.763380277)"
382060,3922385,1791533,G615483,10/10/2001 10:00:00 AM,013XX W BELMONT AV,0820,THEFT,$500 AND UNDER,COMMERCIAL / BUSINESS OFFICE,False,False,1932,19.0,NaN,NaN,06,1166773.0,1.92132e+06,2001.000000,08/17/2015 03:03:40 PM,41.9397,-87.662466,"(41.939676031, -87.662465517)"
382061,3922386,1791534,G615214,10/05/2001 12:00:00 PM,017XX W NELSON ST,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE-GARAGE,False,False,1931,19.0,NaN,NaN,14,1163864.0,1.92033e+06,2001.000000,08/17/2015 03:03:40 PM,41.937,-87.673185,"(41.937010412, -87.67318506)"
382062,3922387,1791535,G614706,10/13/2001 03:10:00 AM,065XX S SANGAMON ST,0820,THEFT,$500 AND UNDER,RESIDENCE,False,False,723,7.0,NaN,NaN,06,1171144.0,1.86131e+06,2001.000000,08/17/2015 03:03:40 PM,41.7749,-87.648161,"(41.7748951, -87.648161061)"
382063,3922388,1791536,G614719,10/13/2001 02:55:00 AM,002XX W GARFIELD BL,0420,BATTERY,AGGRAVATED:KNIFE/CUTTING INSTR,STREET,False,False,711,7.0,NaN,NaN,04B,1175287.0,1.86832e+06,2001.000000,08/17/2015 03:03:40 PM,41.7941,-87.632764,"(41.794053423, -87.632763959)"
382064,3922389,1791537,G614541,10/13/2001 01:04:29 AM,059XX W DIVISION ST,0460,BATTERY,SIMPLE,SIDEWALK,False,False,1511,15.0,NaN,NaN,08B,1136543.0,1.90734e+06,2001.000000,08/17/2015 03:03:40 PM,41.9019,-87.773906,"(41.901908734, -87.773906192)"
382065,3922390,1791538,G614847,10/13/2001 05:48:04 AM,059XX S MAY ST,1220,DECEPTIVE PRACTICE,THEFT OF LOST/MISLAID PROP,SIDEWALK,True,False,712,7.0,NaN,NaN,11,1169700.0,1.86564e+06,2001.000000,08/17/2015 03:03:40 PM,41.7868,-87.653329,"(41.786808587, -87.653329024)"
382066,3922391,1791539,G615431,10/04/2001 01:30:00 PM,006XX N MICHIGAN AV,2820,OTHER OFFENSE,TELEPHONE THREAT,SMALL RETAIL STORE,False,True,1834,18.0,NaN,NaN,26,1177348.0,1.90496e+06,2001.000000,08/17/2015 03:03:40 PM,41.8945,-87.624097,"(41.894538931, -87.62409701)"
382067,3922392,1791540,G615507,10/12/2001 02:30:00 AM,055XX W WASHINGTON BL,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,True,1522,15.0,NaN,NaN,14,1139467.0,1.90016e+06,2001.000000,08/17/2015 03:03:40 PM,41.8822,-87.763341,"(41.882153097, -87.763340991)"
382068,3922393,1791542,G615510,10/13/2001 12:00:00 AM,038XX N CALIFORNIA AV,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,1733,17.0,NaN,NaN,14,1157068.0,1.92549e+06,2001.000000,08/17/2015 03:03:40 PM,41.9513,-87.698021,"(41.9513244, -87.698020684)"
382069,3922394,1791544,G615478,10/12/2001 10:00:00 PM,041XX N DAMEN AV,0820,THEFT,$500 AND UNDER,STREET,False,False,1912,19.0,NaN,NaN,06,1162239.0,1.92724e+06,2001.000000,08/17/2015 03:03:40 PM,41.956,-87.678963,"(41.95602522, -87.678963085)"
382056,3922381,1791529,G615430,10/13/2001 01:00:00 PM,008XX W ROSCOE ST,0820,THEFT,$500 AND UNDER,OTHER,False,False,2331,19.0,NaN,NaN,06,1169661.0,1.92273e+06,2001.000000,08/17/2015 03:03:40 PM,41.9435,-87.651810,"(41.9434689, -87.651810266)"
382055,3922380,1791528,G615173,10/12/2001 05:00:00 PM,027XX N LAKEVIEW AV,0810,THEFT,OVER $500,STREET,False,False,2333,19.0,NaN,NaN,06,1173052.0,1.91837e+06,2001.000000,08/17/2015 03:03:40 PM,41.9314,-87.639476,"(41.931435729, -87.639476343)"
382054,3922379,1791527,G615446,10/13/2001 02:00:00 AM,054XX W NORTH AV,0820,THEFT,$500 AND UNDER,OTHER,False,False,2532,25.0,NaN,NaN,06,1139638.0,1.91014e+06,2001.000000,08/17/2015 03:03:40 PM,41.9095,-87.762469,"(41.909525339, -87.762469333)"
382053,3922378,1791526,G615450,10/12/2001 08:30:00 PM,011XX S LAFLIN ST,0810,THEFT,OVER $500,STREET,False,True,1231,12.0,NaN,NaN,06,1166585.0,1.89525e+06,2001.000000,08/17/2015 03:03:40 PM,41.8681,-87.663904,"(41.868139508, -87.66390421)"
382052,3922377,1791525,G614137,10/12/2001 09:45:00 PM,055XX W WASHINGTON BL,041A,BATTERY,AGGRAVATED: HANDGUN,APARTMENT,False,False,1522,15.0,NaN,NaN,04B,1139104.0,1.90015e+06,2001.000000,08/17/2015 03:03:40 PM,41.8821,-87.764674,"(41.882135008, -87.764674166)"

In [13]:
def changeToDateTime(df, columnName, timeFormat): 
    df[columnName] = pd.to_datetime(df[columnName], format = timeFormat)

In [14]:
dateFormat = '%m/%d/%Y %I:%M:%S %p' 
yearFormat = '%Y.0'

In [18]:
changeToDateTime(dfTotal, 'Date', dateFormat)

In [19]:
dfTotal.head()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,879,4786321,HM399414,2004-01-01 00:01:00,082XX S COLES AVE,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,424,4.0,7.0,46.0,06,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
1,2544,4676906,HM278933,2003-03-01 00:00:00,004XX W 42ND PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,935,9.0,11.0,61.0,26,1173974.0,1.87676e+06,2003.0,04/15/2016 08:55:02 AM,41.8172,-87.637328,"(41.817229156, -87.637328162)"
2,2919,4789749,HM402220,2004-06-20 11:00:00,025XX N KIMBALL AVE,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,1413,14.0,35.0,22.0,20,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
3,2927,4789765,HM402058,2004-12-30 20:00:00,045XX W MONTANA ST,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,2521,25.0,31.0,20.0,06,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
4,3302,4677901,HM275615,2003-05-01 01:00:00,111XX S NORMAL AVE,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,2233,22.0,34.0,49.0,06,1174948.0,1.83105e+06,2003.0,04/15/2016 08:55:02 AM,41.6918,-87.635116,"(41.691784636, -87.635115968)"

In [16]:
#changeToDateTime(df1, 'Year', yearFormat)

In [17]:
#df2003 = df1.loc[df1['Date'].dt.year == 2003] #allows easy slicing of data by time

## Exploring Null Values in Year 2001 'Ward' 
* From the "Analyze Missing Data" section, we found out that df1 had a lot of missing data for the 'Ward' column. We decided to explore it and understand if it was a phenomenon that occurred only for a particular year. 
* We found out that 2001 accounted for563443/7000132 or ~80% of df1's missing 'Ward' data
* We hypothesize that this may have been the case because 'Ward' data may have been put in only after the mid 2001s (we do not know if this true)

This is the observations in df1 that has all the missing 'Ward' info:

In [18]:
df1WardNull = df1.loc[df1['Ward'].isnull()]

There are this many missing 'Ward' data in df1's observations:

In [19]:
len(df1WardNull)

700132

These are how many 'Ward' observations are missing in the year 2001:

In [20]:
ward2001Nan = df1.loc[(df1['Ward'].isnull()) &( df1['Date'].dt.year == 2001)]

len(ward2001Nan)

563443

So 2001 accounts for this percentage of df1's missing observations in 'Ward':

In [21]:
str(563443/700132*100) + "%"

'80.47668154005245%'

In [22]:
df2001 = len(df1.loc[df1['Date'].dt.year == 2001])

## Exploration of Unique Labels
* We wanted to see what labels were used for each category/column to better understand the data we were working with

In [20]:
'''Takes in a dataframe and returns a dataframe with the corresponding
unique labels made in each column
'''
def uniqueLabels(df):
    dfInitial = pd.DataFrame(index = [0], columns =df.columns)
    for column in df.columns:
        uniqueCounts = df[column].unique()
        numObservations = len(df[column])
        dfInitial[column][0] = uniqueCounts
    return dfInitial

In [21]:
dfTotal.name = 'dfTotal'

In [22]:
dftotal_unique = uniqueLabels(dfTotal)

### (1) The Unique Labels for each Column
This demonstrates and summarizes what kind of labels were used per column:

In [23]:
dftotal_unique

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,"[879, 2544, 2919, 2927, 3302, 3633, 3756, 4502...","[4786321, 4676906, 4789749, 4789765, 4677901, ...","[HM399414, HM278933, HM402220, HM402058, HM275...","[2004-01-01T00:01:00.000000000, 2003-03-01T00:...","[082XX S COLES AVE, 004XX W 42ND PL, 025XX N K...","[0840, 2825, 1752, 0841, 0266, 5007, 0890, 175...","[THEFT, OTHER OFFENSE, OFFENSE INVOLVING CHILD...","[FINANCIAL ID THEFT: OVER $300, HARASSMENT BY ...","[RESIDENCE, OTHER, APARTMENT, RESIDENCE PORCH/...","[False, True]","[False, True]","[424, 935, 1413, 2521, 2233, 1011, 531, 2222, ...","[4.0, 9.0, 14.0, 25.0, 22.0, 10.0, 5.0, 18.0, ...","[7.0, 11.0, 35.0, 31.0, 34.0, 24.0, 9.0, 21.0,...","[46.0, 61.0, 22.0, 20.0, 49.0, 29.0, 50.0, 73....","[06, 26, 20, 02, 07, 17, 11, 10, 08B, 05, 15, ...","[nan, 1173974.0, 1174948.0, 1182247.0, 1169911...","[nan, 1876757.0, 1831051.0, 1829375.0, 1844832...","[2004.0, 2003.0, 2001.0, 2002.0, 41.789832136,...","[08/17/2015 03:03:40 PM, 04/15/2016 08:55:02 A...","[nan, 41.817229155999996, 41.691784636, 41.687...","[nan, -87.637328162, -87.635115968, -87.608445...","[nan, (41.817229156, -87.637328162), (41.69178..."

In [24]:
df_missingSummaries

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
df1,0,0,0,0,0,0,0,0,0.000831811,0,0,0,0.000103976,36.3986,36.4046,0,1.59557,1.59557,0,0,1.59557,1.59562,1.59562
df2,0,0,0,0,0,0,0,0,0.00133523,0,0,0,0.000267045,0.000801135,0.0186397,0,0.488906,0.488906,0,0,0.488906,0.488906,0.488906
df3,0,0,0.000223155,0,0,0,0,0,0.010823,0,0,0,0.00308698,0.00234313,0.0541152,0,1.06538,1.06538,0,0,1.06538,1.06538,1.06538
df4,0,0,6.86477e-05,0,0,0,0,0,0.113818,0,0,0,6.86477e-05,0.000961067,0.00274591,0,2.54566,2.54566,0,0,2.54566,2.54566,2.54566

### (2) Printing Out the Number of Unique Labels Per Column

In [25]:
def printUniqueSummaryValues (df): 
    for column in df.columns: 
        print(column + " has these many unique values: ")
        print(len(df[column][0]))

In [26]:
printUniqueSummaryValues(dftotal_unique)

Unnamed: 0 has these many unique values:
6170812
ID has these many unique values:
6170812
Case Number has these many unique values:
6170473
Date has these many unique values:
2451622
Block has these many unique values:
58776
IUCR has these many unique values:
398
Primary Type has these many unique values:
35
Description has these many unique values:
376
Location Description has these many unique values:
173
Arrest has these many unique values:
2
Domestic has these many unique values:
2
Beat has these many unique values:
304
District has these many unique values:
27
Ward has these many unique values:
51
Community Area has these many unique values:
79
FBI Code has these many unique values:
26
X Coordinate has these many unique values:
78276
Y Coordinate has these many unique values:
152136
Year has these many unique values:
18
Updated On has these many unique values:
1310
Latitude has these many unique values:
864639
Longitude has these many unique values:
838433
Location has these many unique values:
840086

## Dropping Columns 
From our exploration of labels and Ward info, we were able to understand some of the properties of the categories and realized that some of the columns were too repetitive, too detailed, or unnecessary for answering our question. In addition, we also had problems working and creating a model because our dataset was big and decided to shrink its size. Thus, we decided to drop the following information:

### Dropping Columns: Part I

* Unnamed because it was an extraneous column 
* Ward because the dataset had a lot of missing data for df1 and we already had other categories indicating district or location. Hence, we deemed the column repetitive and unnecessary
* Longitude & Latitude because Location includes both coordinates' information  
* Updated On because we are not interested in this data. It does not help answer our question
* Case Number in this case because we already have an ID that identifies each observation uniquely

In [27]:
dfTotal.columns

Index(['Unnamed: 0', 'ID', 'Case Number', 'Date', 'Block', 'IUCR',
       'Primary Type', 'Description', 'Location Description', 'Arrest',
       'Domestic', 'Beat', 'District', 'Ward', 'Community Area', 'FBI Code',
       'X Coordinate', 'Y Coordinate', 'Year', 'Updated On', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')

In [28]:
delInitialCols = ['Unnamed: 0', 'Case Number', 'Ward', 'X Coordinate', 'Y Coordinate', 'Updated On']

In [29]:
dfTotal = dfTotal.drop(delInitialCols, axis = 1) #actual deletion

In [30]:
dfTotal.head()

,ID,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Community Area,FBI Code,Year,Latitude,Longitude,Location
0,4786321,2004-01-01 00:01:00,082XX S COLES AVE,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,424,4.0,46.0,06,2004.0,NaN,NaN,NaN
1,4676906,2003-03-01 00:00:00,004XX W 42ND PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,935,9.0,61.0,26,2003.0,41.8172,-87.637328,"(41.817229156, -87.637328162)"
2,4789749,2004-06-20 11:00:00,025XX N KIMBALL AVE,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,1413,14.0,22.0,20,2004.0,NaN,NaN,NaN
3,4789765,2004-12-30 20:00:00,045XX W MONTANA ST,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,2521,25.0,20.0,06,2004.0,NaN,NaN,NaN
4,4677901,2003-05-01 01:00:00,111XX S NORMAL AVE,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,2233,22.0,49.0,06,2003.0,41.6918,-87.635116,"(41.691784636, -87.635115968)"

### Dropping Columns: Part II 
We delete:
* Community Area because a groupings by region, Beat and District, already exist 
* Block because it contains addresses which are too fine grain details that we do not need 
* Location because the Latitude Longitue already includes that info

In [31]:
delInitialCols2 = ['Community Area', 'Block', 'Location']

In [32]:
dfTotal = dfTotal.drop(delInitialCols2, axis = 1) #actual deletion

In [33]:
dfTotal.head()

,ID,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,FBI Code,Year,Latitude,Longitude
0,4786321,2004-01-01 00:01:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,424,4.0,06,2004.0,NaN,NaN
1,4676906,2003-03-01 00:00:00,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,935,9.0,26,2003.0,41.8172,-87.637328
2,4789749,2004-06-20 11:00:00,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,1413,14.0,20,2004.0,NaN,NaN
3,4789765,2004-12-30 20:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,2521,25.0,06,2004.0,NaN,NaN
4,4677901,2003-05-01 01:00:00,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,2233,22.0,06,2003.0,41.6918,-87.635116

In [34]:
def printUniqueValues (df): 
    for column in df.columns: 
        print(column + " has these many unique values: ")
        print(len(df[column].unique()))

In [35]:
printUniqueValues(dfTotal)

ID has these many unique values:
6170812
Date has these many unique values:
2451622
IUCR has these many unique values:
398
Primary Type has these many unique values:
35
Description has these many unique values:
376
Location Description has these many unique values:
173
Arrest has these many unique values:
2
Domestic has these many unique values:
2
Beat has these many unique values:
304
District has these many unique values:
27
FBI Code has these many unique values:
26
Year has these many unique values:
18
Latitude has these many unique values:
864639
Longitude has these many unique values:
838433

### Dropping Columns: Part III 
* We decided to drop Beat.

While Beat has 0 missing data values, it has 304 different categories while District has 27 and has missing categories. We believed groupings of districts did not need to be so fine grain, particularly when we already have information with Location.

In [36]:
dfTotal = dfTotal.drop(['Beat'], axis = 1) #actual deletion

In [37]:
len(dfTotal)

7941282

In [38]:
dfTotal.head()

,ID,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,FBI Code,Year,Latitude,Longitude
0,4786321,2004-01-01 00:01:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4.0,06,2004.0,NaN,NaN
1,4676906,2003-03-01 00:00:00,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,9.0,26,2003.0,41.8172,-87.637328
2,4789749,2004-06-20 11:00:00,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,14.0,20,2004.0,NaN,NaN
3,4789765,2004-12-30 20:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,25.0,06,2004.0,NaN,NaN
4,4677901,2003-05-01 01:00:00,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,22.0,06,2003.0,41.6918,-87.635116

In [39]:
dfTotal = dfTotal.reset_index() #to realign the indices from the concatenation of four dataframesfrom before

In [40]:
newTotalDf = dfTotal
newTotalDf.head()

,index,ID,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,FBI Code,Year,Latitude,Longitude
0,0,4786321,2004-01-01 00:01:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4.0,06,2004.0,NaN,NaN
1,1,4676906,2003-03-01 00:00:00,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,9.0,26,2003.0,41.8172,-87.637328
2,2,4789749,2004-06-20 11:00:00,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,14.0,20,2004.0,NaN,NaN
3,3,4789765,2004-12-30 20:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,25.0,06,2004.0,NaN,NaN
4,4,4677901,2003-05-01 01:00:00,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,22.0,06,2003.0,41.6918,-87.635116

### Dropping Columns: Part IV 
* We decided to drop ID code because the information was too fine grain
* We decided to drop FBI Code because we already had information on the type of crime with IUCR
* We dropped index bc it was unncessary

In [88]:
dataset = newTotalDf.drop(['index', 'ID', 'FBI Code'], axis =1)

In [89]:
dataset.head()

,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,Year,Latitude,Longitude
0,2004-01-01 00:01:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4.0,2004.0,NaN,NaN
1,2003-03-01 00:00:00,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,9.0,2003.0,41.8172,-87.637328
2,2004-06-20 11:00:00,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,14.0,2004.0,NaN,NaN
3,2004-12-30 20:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,25.0,2004.0,NaN,NaN
4,2003-05-01 01:00:00,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,22.0,2003.0,41.6918,-87.635116

## Dropping Missing Observations 

We found out that approxiamtely 1.3% of our observations were missing latitude and longitude data, and ~ 0.02%  of Location Description and ~ 0.001% of District.  

* We decided to fill in 'Location Description's missing values as 'UNKNOWN' because that would identify a type of category for it and also prevent us from losing data. 
* We decided to fill in missing 'Latitude' and 'Longitude' data with 0's so that if we map them out we know for a fact that they are missing values. We also wanted to retain the other data, even if we didn't have the coordinate info. In addition, our future clusterings or models do not rely on the latitude and longitude data. The location information is only for the visualization/mapping. 
* We decided to fill in the district as an 'UNKNOWN' as well so we could retain the reset of the info, but also not incorrectly categorize the group of District the observation belongs to incorreclty because of our lack of expertise in the field.

In [54]:
dataset.name = 'dataset'

In [56]:
missingDatasetValues = missingDataSummary(dataset)

In [57]:
missingDatasetValues

,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,Year,Latitude,Longitude
dataset,0,0,0,0,0.0250589,0,0,0.00114591,0,1.32942,1.32943

In [74]:
nullLoc = dataset.loc[dataset['Location Description'].isnull() == True]
nullLoc

,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,Year,Latitude,Longitude
95688,2001-03-18 21:37:10,0460,BATTERY,SIMPLE,NaN,False,False,10.0,2001.0,41.8404,-87.733109
101322,2001-03-22 00:30:00,1200,DECEPTIVE PRACTICE,STOLEN PROP: BUY/RECEIVE/POS.,NaN,True,False,19.0,2001.0,41.945,-87.669883
490135,2004-08-01 00:05:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,10.0,2004.0,NaN,NaN
518707,2002-01-26 16:25:00,2820,OTHER OFFENSE,TELEPHONE THREAT,NaN,False,False,4.0,2002.0,41.7361,-87.583335
731355,2002-07-11 03:00:00,0930,MOTOR VEHICLE THEFT,THEFT/RECOVERY: AUTOMOBILE,NaN,True,False,7.0,2002.0,41.7581,-87.636018
770238,2002-08-07 04:00:00,0261,CRIM SEXUAL ASSAULT,AGGRAVATED: HANDGUN,NaN,True,False,4.0,2002.0,41.7442,-87.578598
922562,2002-11-23 21:00:00,0890,THEFT,FROM BUILDING,NaN,False,False,3.0,2002.0,41.7824,-87.575701
1218488,2003-07-10 11:00:00,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,NaN,False,False,1.0,2003.0,41.8823,-87.627842
1304465,2003-09-16 15:40:00,0560,ASSAULT,SIMPLE,NaN,False,False,10.0,2003.0,41.8527,-87.694240
1469541,2004-01-29 00:01:00,1310,CRIMINAL DAMAGE,TO PROPERTY,NaN,False,False,20.0,2004.0,41.9758,-87.701720
1635389,2004-05-31 00:00:00,0890,THEFT,FROM BUILDING,NaN,False,False,11.0,2004.0,41.8671,-87.721335
1775989,2004-09-12 20:00:00,0610,BURGLARY,FORCIBLE ENTRY,NaN,False,False,11.0,2004.0,41.8714,-87.720292
1776323,2004-09-14 00:45:00,0630,BURGLARY,ATTEMPT FORCIBLE ENTRY,NaN,True,False,10.0,2004.0,41.8549,-87.733381
1806575,2004-10-02 22:10:16,143A,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,NaN,True,False,7.0,2004.0,41.7663,-87.663828
1923398,2004-01-01 14:30:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,15.0,2004.0,NaN,NaN
1923400,2004-08-17 10:05:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,4.0,2004.0,NaN,NaN
2154372,2006-10-10 06:00:00,1305,CRIMINAL DAMAGE,CRIMINAL DEFACEMENT,NaN,False,False,1.0,2006.0,41.8744,-87.641537
2184414,2006-11-02 21:00:00,0820,THEFT,$500 AND UNDER,NaN,False,False,22.0,2006.0,41.6905,-87.708103
2242391,2006-12-16 20:00:00,1320,CRIMINAL DAMAGE,TO VEHICLE,NaN,False,False,19.0,2006.0,41.9377,-87.679202
2295942,2006-11-28 21:48:05,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,NaN,True,False,15.0,2006.0,41.8801,-87.773894
2364230,2007-04-04 21:38:57,1350,CRIMINAL TRESPASS,TO STATE SUP LAND,NaN,True,False,12.0,2007.0,41.8634,-87.657459
2688088,2006-10-10 06:00:00,1305,CRIMINAL DAMAGE,CRIMINAL DEFACEMENT,NaN,False,False,1.0,2006.0,41.8744,-87.641537
2718130,2006-11-02 21:00:00,0820,THEFT,$500 AND UNDER,NaN,False,False,22.0,2006.0,41.6905,-87.708103
2776107,2006-12-16 20:00:00,1320,CRIMINAL DAMAGE,TO VEHICLE,NaN,False,False,19.0,2006.0,41.9377,-87.679202
2829658,2006-11-28 21:48:05,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,NaN,True,False,15.0,2006.0,41.8801,-87.773894
2897946,2007-04-04 21:38:57,1350,CRIMINAL TRESPASS,TO STATE SUP LAND,NaN,True,False,12.0,2007.0,41.8634,-87.657459
3079349,2007-08-23 08:00:00,0820,THEFT,$500 AND UNDER,NaN,False,False,25.0,2007.0,41.9139,-87.771619
3213186,2007-12-10 21:05:00,2850,PUBLIC PEACE VIOLATION,BOMB THREAT,NaN,False,False,20.0,2007.0,41.9737,-87.654938
3243610,2005-05-28 19:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,5.0,2005.0,NaN,NaN
3247053,2007-10-19 23:40:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,19.0,2007.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7934572,2017-01-09 12:20:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,1.0,2017.0,NaN,NaN
7934630,2016-10-06 18:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,11.0,2016.0,NaN,NaN
7934631,2017-01-05 18:55:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,1.0,2017.0,NaN,NaN
7934632,2016-12-15 19:10:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,20.0,2016.0,NaN,NaN
7934961,2017-01-10 13:10:00,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,NaN,False,False,1.0,2017.0,NaN,NaN
7935212,2017-01-10 00:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,18.0,2017.0,NaN,NaN
7935325,2017-01-02 15:10:00,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,NaN,False,False,19.0,2017.0,NaN,NaN
7935644,2017-01-11 14:00:00,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,NaN,False,False,24.0,2017.0,NaN,NaN
7936026,2016-10-14 07:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,1.0,2016.0,NaN,NaN
7936027,2016-08-01 11:40:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,16.0,2016.0,NaN,NaN
7936081,2016-12-26 13:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,12.0,2016.0,41.8984,-87.655790
7936347,2017-01-12 11:50:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,12.0,2017.0,NaN,NaN
7936737,2016-11-18 18:40:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,18.0,2016.0,NaN,NaN
7937378,2017-01-13 14:18:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,12.0,2017.0,NaN,NaN
7937412,2017-01-13 16:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,10.0,2017.0,NaN,NaN
7938327,2017-01-07 07:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,16.0,2017.0,NaN,NaN
7938329,2017-01-14 15:05:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,12.0,2017.0,NaN,NaN
7939659,2017-01-03 17:45:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,12.0,2017.0,NaN,NaN
7939660,2016-08-04 16:15:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,16.0,2016.0,NaN,NaN
7939661,2017-01-02 17:45:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,20.0,2017.0,NaN,NaN
7940426,2015-10-23 00:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,9.0,2015.0,NaN,NaN
7940427,2017-01-10 12:50:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,9.0,2017.0,NaN,NaN
7940428,2017-01-17 08:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,14.0,2017.0,NaN,NaN
7940770,2017-01-18 13:50:00,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,NaN,False,False,18.0,2017.0,NaN,NaN
7941079,2017-01-18 09:25:00,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,NaN,False,False,4.0,2017.0,NaN,NaN
7941178,2017-01-09 16:15:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,12.0,2017.0,NaN,NaN
7941180,2017-01-10 22:35:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,19.0,2017.0,NaN,NaN
7941181,2016-12-28 16:20:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,14.0,2016.0,NaN,NaN
7941182,2017-01-03 09:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,12.0,2017.0,NaN,NaN
7941183,2015-04-15 08:35:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,14.0,2015.0,NaN,NaN

Number of missing location description observations:

In [75]:
len(nullLoc)

1990

In [92]:
dataset['Location Description'] = dataset['Location Description'].fillna('UNKNOWN')

In [93]:
dataset['Location Description'].isnull().sum()

0

In [71]:
nullDistrict = dataset.loc[dataset['District'].isnull() == True]
nullDistrict

,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,Year,Latitude,Longitude
1802297,2004-06-26 10:00:00,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,RESTAURANT,False,False,NaN,2004.0,41.8922,-87.607702
1817066,2004-10-14 15:41:00,0610,BURGLARY,FORCIBLE ENTRY,CONSTRUCTION SITE,False,False,NaN,2004.0,41.8863,-87.610023
1969394,2006-05-10 19:40:00,0460,BATTERY,SIMPLE,OTHER,False,False,NaN,2006.0,41.8841,-87.610757
2503110,2006-05-10 19:40:00,0460,BATTERY,SIMPLE,OTHER,False,False,NaN,2006.0,41.8841,-87.610757
3242556,2007-11-16 00:01:00,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,RESIDENCE,False,True,NaN,2007.0,41.7098,-87.651424
3242583,2007-01-07 05:00:00,1140,DECEPTIVE PRACTICE,EMBEZZLEMENT,OTHER,False,False,NaN,2007.0,41.839,-87.665779
3636357,2005-11-10 10:10:00,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,GOVERNMENT BUILDING/PROPERTY,False,True,NaN,2005.0,41.8922,-87.603173
4031835,2008-07-18 20:00:00,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,False,False,NaN,2008.0,41.8996,-87.723769
4058378,2008-07-13 18:08:55,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,ALLEY,True,False,NaN,2008.0,41.6999,-87.620564
4077371,2008-08-23 21:23:00,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,SIDEWALK,False,False,NaN,2008.0,41.9446,-87.659105
4082463,2008-08-26 23:40:00,0320,ROBBERY,STRONGARM - NO WEAPON,STREET,False,False,NaN,2008.0,41.9272,-87.667013
4084440,2008-08-23 12:00:00,1122,DECEPTIVE PRACTICE,COUNTERFEIT CHECK,CHURCH/SYNAGOGUE/PLACE OF WORSHIP,False,False,NaN,2008.0,41.7834,-87.622174
4098626,2008-09-07 13:00:00,4387,OTHER OFFENSE,VIOLATE ORDER OF PROTECTION,OTHER,True,True,NaN,2008.0,41.9367,-87.810363
4099705,2008-09-09 17:00:00,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,NaN,2008.0,41.9669,-87.729210
4115301,2008-09-21 22:00:00,0550,ASSAULT,AGGRAVATED PO: HANDGUN,ALLEY,True,False,NaN,2008.0,41.7835,-87.612097
4116498,2008-09-22 21:10:00,0560,ASSAULT,SIMPLE,SIDEWALK,False,False,NaN,2008.0,41.9059,-87.696954
4118831,2008-09-20 20:00:00,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,RESIDENCE,False,False,NaN,2008.0,41.7623,-87.691741
4128199,2008-09-03 12:00:00,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,NaN,2008.0,41.8875,-87.674367
4128562,2008-10-03 12:50:00,1130,DECEPTIVE PRACTICE,FRAUD OR CONFIDENCE GAME,BANK,False,False,NaN,2008.0,41.8443,-87.723905
4138695,2008-10-11 15:00:00,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,True,False,NaN,2008.0,41.908,-87.667617
4142813,2008-10-15 16:10:00,0610,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,False,NaN,2008.0,41.9104,-87.681035
4145693,2008-10-16 23:00:00,0313,ROBBERY,ARMED: OTHER DANGEROUS WEAPON,SIDEWALK,False,False,NaN,2008.0,41.8973,-87.717918
4146444,2008-10-18 06:30:00,0291,CRIM SEXUAL ASSAULT,ATTEMPT NON-AGGRAVATED,SIDEWALK,False,False,NaN,2008.0,41.7613,-87.662806
4146903,2008-10-17 22:39:00,0320,ROBBERY,STRONGARM - NO WEAPON,STREET,False,False,NaN,2008.0,41.9586,-87.692316
4151617,2008-10-22 08:30:00,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,NaN,2008.0,41.7446,-87.595328
4155882,2008-08-21 14:30:00,1152,DECEPTIVE PRACTICE,ILLEGAL USE CASH CARD,RESIDENCE,False,False,NaN,2008.0,41.8892,-87.617611
4156879,2008-10-17 12:00:00,0843,THEFT,ATTEMPT FINANCIAL IDENTITY THEFT,RESIDENCE,False,False,NaN,2008.0,41.9172,-87.636346
4157285,2008-10-27 21:19:00,0920,MOTOR VEHICLE THEFT,ATT: AUTOMOBILE,RESIDENTIAL YARD (FRONT/BACK),True,False,NaN,2008.0,41.7809,-87.649674
4157931,2008-10-25 17:45:00,0330,ROBBERY,AGGRAVATED,GAS STATION,False,False,NaN,2008.0,41.939,-87.736504
4158171,2008-10-28 12:30:00,0890,THEFT,FROM BUILDING,RESTAURANT,False,False,NaN,2008.0,41.8934,-87.621160
...,...,...,...,...,...,...,...,...,...,...,...
5290308,2008-10-15 16:10:00,0610,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,False,NaN,2008.0,41.9104,-87.681035
5293188,2008-10-16 23:00:00,0313,ROBBERY,ARMED: OTHER DANGEROUS WEAPON,SIDEWALK,False,False,NaN,2008.0,41.8973,-87.717918
5293939,2008-10-18 06:30:00,0291,CRIM SEXUAL ASSAULT,ATTEMPT NON-AGGRAVATED,SIDEWALK,False,False,NaN,2008.0,41.7613,-87.662806
5294398,2008-10-17 22:39:00,0320,ROBBERY,STRONGARM - NO WEAPON,STREET,False,False,NaN,2008.0,41.9586,-87.692316
5299112,2008-10-22 08:30:00,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,NaN,2008.0,41.7446,-87.595328
5303377,2008-08-21 14:30:00,1152,DECEPTIVE PRACTICE,ILLEGAL USE CASH CARD,RESIDENCE,False,False,NaN,2008.0,41.8892,-87.617611
5304374,2008-10-17 12:00:00,0843,THEFT,ATTEMPT FINANCIAL IDENTITY THEFT,RESIDENCE,False,False,NaN,2008.0,41.9172,-87.636346
5304780,2008-10-27 21:19:00,0920,MOTOR VEHICLE THEFT,ATT: AUTOMOBILE,RESIDENTIAL YARD (FRONT/BACK),True,False,NaN,2008.0,41.7809,-87.649674
5305426,2008-10-25 17:45:00,0330,ROBBERY,AGGRAVATED,GAS STATION,False,False,NaN,2008.0,41.939,-87.736504
5305666,2008-10-28 12:30:00,0890,THEFT,FROM BUILDING,RESTAURANT,False,False,NaN,2008.0,41.8934,-87.621160
5305759,2008-10-21 20:15:00,1506,PROSTITUTION,SOLICIT ON PUBLIC WAY,STREET,True,False,NaN,2008.0,41.8795,-87.740576
5305939,2008-10-24 17:45:00,1345,CRIMINAL DAMAGE,TO CITY OF CHICAGO PROPERTY,STREET,False,False,NaN,2008.0,41.9039,-87.769697
5305946,2008-10-27 19:14:20,0560,ASSAULT,SIMPLE,SIDEWALK,True,False,NaN,2008.0,41.9034,-87.758278
5306024,2008-10-28 19:10:00,2900,WEAPONS VIOLATION,UNLAWFUL USE/SALE AIR RIFLE,SIDEWALK,True,False,NaN,2008.0,41.7069,-87.644346
5306298,2008-10-26 03:02:00,0486,BATTERY,DOMESTIC BATTERY SIMPLE,STREET,False,True,NaN,2008.0,41.7743,-87.641814
5307407,2008-10-29 05:09:00,0430,BATTERY,AGGRAVATED: OTHER DANG WEAPON,STREET,True,False,NaN,2008.0,41.7636,-87.630651
5307773,2008-10-14 21:44:00,143A,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,VEHICLE NON-COMMERCIAL,True,False,NaN,2008.0,41.7577,-87.648165
5308930,2008-10-10 23:57:00,0554,ASSAULT,AGG PO HANDS NO/MIN INJURY,STREET,True,False,NaN,2008.0,41.7875,-87.618638
5310726,2008-10-31 18:00:00,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,NaN,2008.0,41.9334,-87.774829
5310915,2008-11-01 16:10:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,APARTMENT,False,False,NaN,2008.0,41.9087,-87.722840
5311440,2008-10-30 15:25:00,1110,DECEPTIVE PRACTICE,BOGUS CHECK,CURRENCY EXCHANGE,False,False,NaN,2008.0,41.7804,-87.605565
5312370,2008-11-02 20:15:00,0330,ROBBERY,AGGRAVATED,STREET,True,False,NaN,2008.0,41.8714,-87.725365
5313341,2008-11-03 17:09:00,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,PARKING LOT/GARAGE(NON.RESID.),False,False,NaN,2008.0,41.9532,-87.767436
5314205,2008-10-21 22:00:00,0890,THEFT,FROM BUILDING,RESIDENCE,False,False,NaN,2008.0,41.7817,-87.700776
5314944,2008-11-04 20:14:29,1320,CRIMINAL DAMAGE,TO VEHICLE,OTHER,False,False,NaN,2008.0,42.0003,-87.699719
5315320,2008-11-01 23:00:00,0460,BATTERY,SIMPLE,SIDEWALK,False,False,NaN,2008.0,41.8506,-87.719844
5316080,2008-10-29 13:50:56,0460,BATTERY,SIMPLE,SIDEWALK,True,False,NaN,2008.0,41.9035,-87.660475
5838285,2010-03-26 20:00:00,0890,THEFT,FROM BUILDING,RESTAURANT,False,False,NaN,2010.0,41.8922,-87.607702
6455332,2011-12-07 09:00:00,0820,THEFT,$500 AND UNDER,VACANT LOT/LAND,False,False,NaN,2011.0,36.6194,-91.686566
7022513,2013-06-07 20:13:00,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,STREET,True,False,NaN,2013.0,41.7647,-87.684162

The number of missing 'District' observations:

In [72]:
print(len(nullDistrict))

91

In [95]:
dataset['District'] = dataset['District'].fillna('UNKNOWN')

In [96]:
dataset['District'].isnull().sum()

0

In [76]:
locDistrict = dataset.loc[(dataset['Latitude'].isnull() == True) & (dataset['Longitude'].isnull() == True)]
locDistrict

,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,Year,Latitude,Longitude
0,2004-01-01 00:01:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4.0,2004.0,NaN,NaN
2,2004-06-20 11:00:00,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,14.0,2004.0,NaN,NaN
3,2004-12-30 20:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,25.0,2004.0,NaN,NaN
5,2004-08-01 00:01:00,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,APARTMENT,False,False,10.0,2004.0,NaN,NaN
8,2004-09-16 10:00:00,0890,THEFT,FROM BUILDING,RESIDENCE,False,False,18.0,2004.0,NaN,NaN
11,2004-11-01 00:01:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,20.0,2004.0,NaN,NaN
13,2004-11-01 00:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4.0,2004.0,NaN,NaN
19,2002-06-14 16:00:00,0266,CRIM SEXUAL ASSAULT,PREDATORY,APARTMENT,False,False,14.0,2002.0,NaN,NaN
21,2004-01-01 00:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,APARTMENT,False,False,1.0,2004.0,NaN,NaN
27,2004-12-13 13:00:00,1130,DECEPTIVE PRACTICE,FRAUD OR CONFIDENCE GAME,RESIDENCE,False,False,3.0,2004.0,NaN,NaN
28,2004-10-06 09:00:00,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,25.0,2004.0,NaN,NaN
29,2004-01-12 15:00:00,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,False,6.0,2004.0,NaN,NaN
30,2004-09-17 09:00:00,1130,DECEPTIVE PRACTICE,FRAUD OR CONFIDENCE GAME,RESIDENCE,False,False,4.0,2004.0,NaN,NaN
38,2004-01-01 00:01:00,0843,THEFT,ATTEMPT FINANCIAL IDENTITY THEFT,RESIDENCE,False,False,16.0,2004.0,NaN,NaN
41,2004-01-01 00:01:00,1754,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,RESIDENCE,True,False,3.0,2004.0,NaN,NaN
42,2002-07-01 00:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,10.0,2002.0,NaN,NaN
43,2004-11-01 00:01:00,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,OTHER,False,False,1.0,2004.0,NaN,NaN
44,2004-03-01 09:00:00,1120,DECEPTIVE PRACTICE,FORGERY,APARTMENT,False,False,3.0,2004.0,NaN,NaN
45,2004-06-29 00:01:00,1120,DECEPTIVE PRACTICE,FORGERY,BANK,False,True,8.0,2004.0,NaN,NaN
46,2004-06-27 15:30:00,0460,BATTERY,SIMPLE,SMALL RETAIL STORE,False,False,5.0,2004.0,NaN,NaN
48,2004-07-08 00:01:00,0263,CRIM SEXUAL ASSAULT,AGGRAVATED: KNIFE/CUT INSTR,RESIDENCE,True,False,25.0,2004.0,NaN,NaN
49,2004-01-01 00:01:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,25.0,2004.0,NaN,NaN
51,2004-08-01 12:00:00,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,16.0,2004.0,NaN,NaN
55,2004-07-03 16:30:00,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,9.0,2004.0,NaN,NaN
56,2004-10-13 12:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,True,8.0,2004.0,NaN,NaN
57,2004-06-15 12:00:00,2820,OTHER OFFENSE,TELEPHONE THREAT,APARTMENT,False,False,6.0,2004.0,NaN,NaN
58,2004-11-01 00:01:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,APARTMENT,False,False,16.0,2004.0,NaN,NaN
59,2004-01-01 00:00:00,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,APARTMENT,False,True,25.0,2004.0,NaN,NaN
60,2004-02-09 14:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,DEPARTMENT STORE,False,False,6.0,2004.0,NaN,NaN
61,2004-07-09 00:01:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,SIDEWALK,False,False,8.0,2004.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7941191,2016-07-18 00:00:00,0266,CRIM SEXUAL ASSAULT,PREDATORY,RESIDENCE,False,True,17.0,2016.0,NaN,NaN
7941192,2017-01-15 09:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,12.0,2017.0,NaN,NaN
7941193,2013-11-20 09:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,4.0,2013.0,NaN,NaN
7941194,2017-01-16 10:00:00,0610,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,False,20.0,2017.0,NaN,NaN
7941195,2016-12-15 10:00:00,2851,PUBLIC PEACE VIOLATION,ARSON THREAT,RESIDENCE,False,False,11.0,2016.0,NaN,NaN
7941196,2017-01-15 23:59:00,0820,THEFT,$500 AND UNDER,STREET,False,False,16.0,2017.0,NaN,NaN
7941197,2017-01-14 06:05:00,0560,ASSAULT,SIMPLE,RESIDENCE,False,True,4.0,2017.0,NaN,NaN
7941198,2016-12-19 19:03:00,1206,DECEPTIVE PRACTICE,"THEFT BY LESSEE,MOTOR VEH",STREET,False,False,8.0,2016.0,NaN,NaN
7941199,2016-10-10 17:00:00,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,RESIDENCE,False,False,4.0,2016.0,NaN,NaN
7941200,2016-06-07 09:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,BANK,False,False,12.0,2016.0,NaN,NaN
7941201,2016-11-11 01:30:00,0930,MOTOR VEHICLE THEFT,THEFT/RECOVERY: AUTOMOBILE,AIRPORT VENDING ESTABLISHMENT,False,False,16.0,2016.0,NaN,NaN
7941202,2017-01-06 22:00:00,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,False,True,6.0,2017.0,NaN,NaN
7941203,2017-01-01 00:00:00,0810,THEFT,OVER $500,COMMERCIAL / BUSINESS OFFICE,False,False,16.0,2017.0,NaN,NaN
7941204,2016-11-16 16:00:00,0620,BURGLARY,UNLAWFUL ENTRY,COMMERCIAL / BUSINESS OFFICE,False,False,17.0,2016.0,NaN,NaN
7941205,2017-01-13 08:32:00,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,OTHER,False,False,24.0,2017.0,NaN,NaN
7941206,2016-04-25 09:00:00,4387,OTHER OFFENSE,VIOLATE ORDER OF PROTECTION,OTHER,False,True,14.0,2016.0,NaN,NaN
7941207,2016-12-20 18:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,18.0,2016.0,NaN,NaN
7941208,2017-01-15 12:00:00,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,RESIDENCE,False,False,16.0,2017.0,NaN,NaN
7941209,2016-12-02 00:01:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,3.0,2016.0,NaN,NaN
7941210,2016-12-14 09:28:00,1206,DECEPTIVE PRACTICE,"THEFT BY LESSEE,MOTOR VEH",AIRPORT EXTERIOR - NON-SECURE AREA,False,False,16.0,2016.0,NaN,NaN
7941211,2017-01-11 13:00:00,5093,NON-CRIMINAL,LOST PASSPORT,RESIDENCE,False,False,12.0,2017.0,NaN,NaN
7941212,2016-12-17 08:00:00,1130,DECEPTIVE PRACTICE,FRAUD OR CONFIDENCE GAME,OTHER,False,False,25.0,2016.0,NaN,NaN
7941213,2016-04-17 07:00:00,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,APARTMENT,False,False,15.0,2016.0,NaN,NaN
7941214,2017-01-16 14:30:00,0820,THEFT,$500 AND UNDER,STREET,False,False,14.0,2017.0,NaN,NaN
7941215,2017-01-08 11:00:00,0890,THEFT,FROM BUILDING,HOSPITAL BUILDING/GROUNDS,False,False,2.0,2017.0,NaN,NaN
7941216,2017-01-16 16:00:00,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,OTHER,False,False,18.0,2017.0,NaN,NaN
7941217,2016-12-20 08:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,24.0,2016.0,NaN,NaN
7941218,2017-01-15 00:00:00,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,24.0,2017.0,NaN,NaN
7941219,2017-01-18 12:00:00,1152,DECEPTIVE PRACTICE,ILLEGAL USE CASH CARD,BANK,False,False,22.0,2017.0,NaN,NaN
7941223,2017-01-02 09:14:00,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,25.0,2017.0,NaN,NaN

Number of observations where both Latitude and Longitude are missing:

In [77]:
len(locDistrict)

105573

Number of observations where Latitude info is missing:

In [78]:
 len(dataset.loc[(dataset['Latitude'].isnull() == True)])

105573

Number of observations where Longitude info is missing:

In [79]:
 len(dataset.loc[(dataset['Longitude'].isnull() == True)])

105574

In [105]:
dataset['Longitude'] = dataset['Longitude'].fillna(0.0)

In [109]:
dataset['Longitude'].isnull().sum()

0

In [110]:
dataset['Latitude'] = dataset['Latitude'].fillna(0.0)

In [111]:
dataset['Latitude'].isnull().sum()

0


## Unnesting Information on Crime Hour, Day, Weekday, and Month using Dates
* Hour is what hour in the day did the crime occur
* Day is what day in the month (1st day of the month, 28th day of the month..) did ht observation happen
* Weekday is what day in the week did the crime occur (Monday =0, Tuesday =1, Wednesday =2, ..., Sunday = 6) 
* Month is what month it happend

In [117]:
dataset = dataset.assign(Month = dataset["Date"].dt.month)

In [119]:
dataset.head()

,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,Year,Latitude,Longitude,Month
0,2004-01-01 00:01:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4,2004.0,0,0.000000,1
1,2003-03-01 00:00:00,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,9,2003.0,41.8172,-87.637328,3
2,2004-06-20 11:00:00,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,14,2004.0,0,0.000000,6
3,2004-12-30 20:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,25,2004.0,0,0.000000,12
4,2003-05-01 01:00:00,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,22,2003.0,41.6918,-87.635116,5

In [120]:
dataset = dataset.assign(Day = dataset["Date"].dt.day)

In [121]:
dataset.head()

,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,Year,Latitude,Longitude,Month,Day
0,2004-01-01 00:01:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4,2004.0,0,0.000000,1,1
1,2003-03-01 00:00:00,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,9,2003.0,41.8172,-87.637328,3,1
2,2004-06-20 11:00:00,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,14,2004.0,0,0.000000,6,20
3,2004-12-30 20:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,25,2004.0,0,0.000000,12,30
4,2003-05-01 01:00:00,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,22,2003.0,41.6918,-87.635116,5,1

In [122]:
dataset = dataset.assign(Hour = dataset["Date"].dt.hour)

In [123]:
dataset.head()

,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,Year,Latitude,Longitude,Month,Day,Hour
0,2004-01-01 00:01:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4,2004.0,0,0.000000,1,1,0
1,2003-03-01 00:00:00,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,9,2003.0,41.8172,-87.637328,3,1,0
2,2004-06-20 11:00:00,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,14,2004.0,0,0.000000,6,20,11
3,2004-12-30 20:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,25,2004.0,0,0.000000,12,30,20
4,2003-05-01 01:00:00,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,22,2003.0,41.6918,-87.635116,5,1,1

In [126]:
dataset = dataset.assign(Weekday = dataset["Date"].dt.weekday)

In [127]:
dataset.head()

,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,Year,Latitude,Longitude,Month,Day,Hour,Weekday
0,2004-01-01 00:01:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4,2004.0,0,0.000000,1,1,0,3
1,2003-03-01 00:00:00,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,9,2003.0,41.8172,-87.637328,3,1,0,5
2,2004-06-20 11:00:00,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,14,2004.0,0,0.000000,6,20,11,6
3,2004-12-30 20:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,25,2004.0,0,0.000000,12,30,20,3
4,2003-05-01 01:00:00,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,22,2003.0,41.6918,-87.635116,5,1,1,3

In [128]:
dataset = dataset.drop(['Date'], axis  = 1)

In [129]:
dataset.head()

,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,Year,Latitude,Longitude,Month,Day,Hour,Weekday
0,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4,2004.0,0,0.000000,1,1,0,3
1,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,9,2003.0,41.8172,-87.637328,3,1,0,5
2,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,14,2004.0,0,0.000000,6,20,11,6
3,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,25,2004.0,0,0.000000,12,30,20,3
4,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,22,2003.0,41.6918,-87.635116,5,1,1,3

## Export New Dataset with No Missing Values 

This will export the dataset to the crimesInChicagoData folder as "dataset.csv"

In [130]:
dataset = dataset.sort_index()

In [131]:
dataset.to_csv("../../crimesInChicagoData/dataset.csv")